In [1]:
# 본 코드의 목적
# daily_stockwise_dict / year_no 에 보관된 일별_1, 일별_2 피클 파일들을 모두 모아서
# 연 단위의 통합 df를 만든다

In [2]:
# 거래일을 가져오는 과정

In [3]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import datetime

In [4]:
kospi_list_df = fdr.StockListing('KOSDAQ')

In [5]:
kospi_list_df

,Symbol,Market,Name,Sector,Industry,ListingDate,SettleMonth,Representative,HomePage,Region
0,060310,KOSDAQ,3S,전자부품 제조업,반도체 웨이퍼 캐리어,2002-04-23,03월,"박종익, 김세완 (각자 대표이사)",http://www.3sref.com,서울특별시
3,054620,KOSDAQ,APS홀딩스,기타 금융업,인터넷 트래픽 솔루션,2001-12-04,12월,정기로,http://www.apsholdings.co.kr,경기도
4,265520,KOSDAQ,AP시스템,특수 목적용 기계 제조업,디스플레이 제조 장비,2017-04-07,12월,김영주,http://www.apsystems.co.kr,경기도
5,211270,KOSDAQ,AP위성,통신 및 방송 장비 제조업,위성통신 단말기,2016-03-04,12월,류장수,http://www.apsi.co.kr,서울특별시
53,013720,KOSDAQ,CBI,자동차 신품 부품 제조업,엔진부품,1993-12-29,12월,오경원,http://www.cheongbo.co.kr,인천광역시
...,...,...,...,...,...,...,...,...,...,...
7129,024060,KOSDAQ,흥구석유,기타 전문 도매업,휘발유등,1994-12-07,12월,김상우,NaN,대구광역시
7130,010240,KOSDAQ,흥국,특수 목적용 기계 제조업,굴삭기 Roller 및 형단조품,2009-05-12,12월,류명준,http://www.heungkuk.co.kr,충청남도
7131,189980,KOSDAQ,흥국에프엔비,비알코올음료 및 얼음 제조업,"과일음료(에이드베이스, 스무디, 착즙쥬스 등)",2015-08-07,12월,"박철범, 오길영",http://www.hyungkuk.com,서울특별시
7136,037440,KOSDAQ,희림,"건축기술, 엔지니어링 및 관련 기술 서비스업",설계 및 감리용역,2000-02-03,12월,"정영균, 이목운, 허철호 (각자대표)",http://www.heerim.com,서울특별시
7137,238490,KOSDAQ,힘스,특수 목적용 기계 제조업,"OLED Mask 인장기, OLED Mask 검사기 등",2017-07-20,12월,김주환,http://www.hims.co.kr,인천광역시

In [6]:
test_symbol_list = []
for i in range(5):
    test_symbol_list.append(kospi_list_df['Symbol'].values[i])

test_symbol_list

['060310', '054620', '265520', '211270', '013720']

In [7]:
target_year = '2021'

In [8]:
full_date_df = fdr.DataReader(test_symbol_list[1], target_year)

In [9]:
full_date_df

             Open   High    Low  Close  Volume    Change
Date
2021-01-04   8220   8270   7960   8000  300316 -0.025579
2021-01-05   7970   8100   7870   7900  190388 -0.012500
2021-01-06   7940   7980   7590   7670  471365 -0.029114
2021-01-07   7700   7730   7600   7650  178284 -0.002608
2021-01-08   7650   7720   7470   7500  274988 -0.019608
...           ...    ...    ...    ...     ...       ...
2021-08-24  19450  19650  18650  19000   98776 -0.007833
2021-08-25  19000  19650  18700  19450   59159  0.023684
2021-08-26  19550  19950  19250  19350   47887 -0.005141
2021-08-27  19250  19550  18900  19300   32603 -0.002584
2021-08-30  19300  19350  18950  19350   42689  0.002591

[165 rows x 6 columns]

In [10]:
raw_tradingdays = list(full_date_df.index.values)

In [11]:
tradingdays = [int(pd.to_datetime(td).strftime('%Y%m%d')) for td in raw_tradingdays]

In [12]:
daily_folder_dir = './daily_stockwise_dict/'+target_year

In [13]:
import sys

from PyQt5.QtWidgets import *

app = QApplication(sys.argv)

from kiwoom.kiwoom import *

save_list = []

kiwoom = Kiwoom(save_list)

로그인에 성공하였습니다.

1. 현재 로그인 상태 확인
2. 사용자 정보 조회
3. 예수금 조회
4. 계좌 잔고 조회
5. 미체결 내역 조회
6. 종목 리스트 조회
7. 일별 투자자별 매수 매도 종목 조회
Q. 프로그램 종료
P. Kiwoom 객체를 보존한 채로 종료
=> p

In [14]:
stock_code_list = kiwoom.get_code_list_by_market('10') # '10'이 코스닥

In [15]:
stockwise_list_dict = {}
for stock_code in stock_code_list:
    stockwise_list_dict[stock_code] = []

In [16]:
import pandas as pd

In [17]:
import pickle

In [18]:
# 여기서 일자별로 순회

In [19]:
for curr_tradingday in tradingdays[:-1]:
    daily_file_1_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_1.pickle'
    daily_file_2_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_2.pickle'
    with open(daily_file_1_dir, 'rb') as fr:
        stockwise_dict_1 = pickle.load(fr)
    with open(daily_file_2_dir, 'rb') as fr:
        stockwise_dict_2 = pickle.load(fr)
    for stock_code in stock_code_list:
        if stock_code in list(stockwise_dict_1.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_1[stock_code][2])
        elif stock_code in list(stockwise_dict_2.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_2[stock_code][2])
        else:
            stockwise_list_dict[stock_code].append(0)

In [20]:
institution_year_daily_df = pd.DataFrame(columns = stock_code_list, index = tradingdays[:-1])

In [21]:
for stock_code in stock_code_list:
    institution_year_daily_df[stock_code] = stockwise_list_dict[stock_code]

In [22]:
institution_year_daily_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,0,0,0,0,0,0,0,-5210,0,0,...,785,15,0,0,0,0,0,0,0,0
20210105,0,0,0,0,0,0,-8,-4517,0,0,...,806,10,0,0,0,0,0,0,0,0
20210106,0,0,0,0,0,0,0,-2658,0,0,...,-433,0,0,0,0,0,0,0,0,0
20210107,0,0,0,0,0,0,0,-1807,0,0,...,137,0,0,0,4,0,0,0,6,0
20210108,0,0,0,0,0,0,0,-1689,0,0,...,-67,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0,0,0,0,0,-7,0,1381,0,0,...,0,7,0,47,0,0,0,-2337,-68,0
20210824,0,0,0,0,0,-77,0,326,0,0,...,91,324,0,-113,0,0,0,-46,-19,0
20210825,0,0,0,0,0,0,0,644,0,0,...,-94,-499,0,40,0,0,0,-37,1,0
20210826,0,0,0,0,0,0,0,-3808,0,0,...,0,-466,0,-342,0,0,0,-154,0,0
20210827,0,0,0,0,0,0,0,-428,0,0,...,0,-282,0,-218,0,0,0,-419,0,0

In [23]:
stockwise_list_dict = {}
for stock_code in stock_code_list:
    stockwise_list_dict[stock_code] = []

In [24]:
for curr_tradingday in tradingdays[:-1]:
    daily_file_1_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_1.pickle'
    daily_file_2_dir = daily_folder_dir+'/daily_stockwise_dict_'+str(curr_tradingday)+'_2.pickle'
    with open(daily_file_1_dir, 'rb') as fr:
        stockwise_dict_1 = pickle.load(fr)
    with open(daily_file_2_dir, 'rb') as fr:
        stockwise_dict_2 = pickle.load(fr)
    for stock_code in stock_code_list:
        if stock_code in list(stockwise_dict_1.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_1[stock_code][8])
        elif stock_code in list(stockwise_dict_2.keys()):
            stockwise_list_dict[stock_code].append(stockwise_dict_2[stock_code][8])
        else:
            stockwise_list_dict[stock_code].append(0)

In [25]:
pension_year_daily_df = pd.DataFrame(columns = stock_code_list, index = tradingdays[:-1])

In [26]:
for stock_code in stock_code_list:
    pension_year_daily_df[stock_code] = stockwise_list_dict[stock_code]

In [27]:
pension_year_daily_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,0,0,0,0,0,0,0,-612,0,0,...,760,0,0,0,0,0,0,0,0,0
20210105,0,0,0,0,0,0,0,469,0,0,...,514,0,0,0,0,0,0,0,0,0
20210106,0,0,0,0,0,0,0,23,0,0,...,-366,0,0,0,0,0,0,0,0,0
20210107,0,0,0,0,0,0,0,-692,0,0,...,-128,0,0,0,0,0,0,0,0,0
20210108,0,0,0,0,0,0,0,-166,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0,0,0,0,0,0,0,-10,0,0,...,0,0,0,5,0,0,0,1,0,0
20210824,0,0,0,0,0,0,0,-361,0,0,...,0,-43,0,0,0,0,0,0,0,0
20210825,0,0,0,0,0,0,0,11,0,0,...,0,-49,0,2,0,0,0,0,0,0
20210826,0,0,0,0,0,0,0,-1453,0,0,...,0,0,0,-338,0,0,0,0,0,0
20210827,0,0,0,0,0,0,0,-262,0,0,...,0,0,0,-189,0,0,0,0,0,0

In [28]:
institution_buy_3dr_df = institution_year_daily_df.rolling(3).sum()
pension_buy_3dr_df = pension_year_daily_df.rolling(3).sum()

In [77]:
tradingday_dict = {}
for day in tradingdays[3:-1]:
    tradingday_dict[day]=[]
    daily_institution_buy_3dr_df = institution_buy_3dr_df.loc[day:day]
    daily_pension_buy_3dr_df = pension_buy_3dr_df.loc[day:day]
    institution_sorted_amount = sorted(daily_institution_buy_3dr_df.values.tolist()[0], reverse=True)
    institution_topten_amount = institution_sorted_amount[5:20]
    pension_sorted_amount = sorted(daily_pension_buy_3dr_df.values.tolist()[0], reverse=True)
    pension_topten_amount = pension_sorted_amount[5:20]
    for stock_code in stock_code_list:
        if (daily_institution_buy_3dr_df[stock_code].values[0] in institution_topten_amount) and (daily_pension_buy_3dr_df[stock_code].values[0] in pension_topten_amount):
            tradingday_dict[day].append(stock_code)

In [78]:
tradingday_dict

{20210107: ['104480',
  '215200',
  '218410',
  '237880',
  '278280',
  '297090',
  '299900'],
 20210108: ['035760', '145020', '215200', '297090'],
 20210111: ['080160', '145020', '215200'],
 20210112: ['061970', '067160', '122870', '160550', '299900'],
 20210113: ['061970', '093320', '160550', '299900'],
 20210114: ['041510', '095340', '145020', '160550', '306040'],
 20210115: ['041510', '080160', '092730', '095340', '145020', '306040'],
 20210118: ['099320', '166090'],
 20210119: ['080160', '095340', '099320', '299900'],
 20210120: ['068760', '141080'],
 20210121: ['054780', '141080'],
 20210122: ['015750', '074600', '319660'],
 20210125: ['034230', '035760', '069080', '226950', '237690', '253450'],
 20210126: ['034230', '141080', '226950'],
 20210127: ['066970', '080160'],
 20210128: ['017890', '066970', '214150', '226950', '241840'],
 20210129: ['182400', '213420', '241840'],
 20210201: ['033640', '036490', '145020', '182400', '214450', '237690'],
 20210202: ['068760', '145020', '182400', '214450'],
 20210203: ['028300', '068760', '214450'],
 20210204: ['122870', '144510', '160550', '235980'],
 20210205: ['078890', '089980', '144510', '160550', '235980'],
 20210208: ['052710', '144510', '213420'],
 20210209: ['035080', '089980'],
 20210210: ['112040', '265520', '293490'],
 20210215: ['056190', '102710', '131290'],
 20210216: ['078150', '095700', '102710', '215200'],
 20210217: ['078150', '215200', '300120'],
 20210218: ['078150', '265520', '290510', '321820'],
 20210219: ['056190', '083500', '138610'],
 20210222: ['036200', '194700'],
 20210223: ['194700', '298540'],
 20210224: ['039200', '089600', '112040', '141080', '200130', '235980'],
 20210225: ['036200', '084370', '141080', '144510', '213420'],
 20210226: ['084370', '086900', '101160', '141080', '144510', '213420'],
 20210302: ['034230',
  '036200',
  '036490',
  '101160',
  '141080',
  '213420',
  '240810'],
 20210303: ['036200',
  '036490',
  '084370',
  '101160',
  '122870',
  '141080',
  '144510'],
 20210304: ['054780', '086900', '141080', '241840'],
 20210305: ['054780', '086900', '101160', '160550'],
 20210308: ['034230', '054780', '086900'],
 20210309: ['095610', '160550', '215200'],
 20210310: ['216050', '297090'],
 20210311: ['213420', '216050', '297090', '357780'],
 20210312: ['100090', '108320', '144510', '216050', '323990'],
 20210315: ['039030',
  '100090',
  '122870',
  '144510',
  '215000',
  '216050',
  '323990'],
 20210316: ['056190', '091990', '100090', '213420', '237690'],
 20210317: ['058470',
  '084370',
  '088800',
  '108320',
  '200130',
  '215000',
  '240810'],
 20210318: ['058470', '060250', '084370', '091990', '240810'],
 20210319: ['060720', '237690', '241840'],
 20210322: ['039030', '060720', '074600', '085370'],
 20210323: ['039030', '074600', '213420', '290650'],
 20210324: ['039030',
  '060250',
  '074600',
  '084370',
  '213420',
  '214450',
  '235980',
  '272290'],
 20210325: ['035900',
  '039030',
  '084370',
  '091990',
  '100090',
  '200130',
  '235980'],
 20210326: ['039030', '067160', '084370', '141080', '200130', '272290'],
 20210329: ['067160',
  '099320',
  '141080',
  '178320',
  '240810',
  '241710',
  '272290'],
 20210330: ['039200',
  '067160',
  '074600',
  '099320',
  '178320',
  '241840',
  '321820'],
 20210331: ['039200', '054780', '178320', '215200', '272290'],
 20210401: ['253450', '272290', '321820'],
 20210402: ['060150', '084370', '086520', '278280'],
 20210405: ['036200', '036490', '084370', '278280'],
 20210406: ['036200', '064290', '078340', '247540', '253450'],
 20210407: ['036200', '064290', '189300', '306040', '340570'],
 20210408: ['036200', '036890', '060150', '064290', '189300', '272290'],
 20210409: ['036200', '039200', '078340', '115960', '241840'],
 20210412: ['060150', '115960', '240810', '319660'],
 20210413: ['025900',
  '095700',
  '141080',
  '278280',
  '294090',
  '299030',
  '319660',
  '334970'],
 20210414: ['025900',
  '086900',
  '095700',
  '096530',
  '145020',
  '156100',
  '278280',
  '299030'],
 20210415: ['036490', '060250', '156100', '178320', '278280'],
 20210416: ['025900', '066970', '078600', '178320', '278280'],
 20210419: ['025900',
  '036930',
  '060250',
  '086520',
  '096530',
  '141080',
  '240810',
  '247540',
  '253450'],
 20210420: ['036930',
  '039200',
  '084370',
  '086520',
  '095700',
  '141080',
  '247540',
  '278280'],
 20210421: ['005290',
  '039200',
  '046890',
  '086520',
  '095700',
  '278280',
  '357780'],
 20210422: ['039200', '067160', '095610', '101160', '226950'],
 20210423: ['046890', '067310', '086520', '099190', '145020'],
 20210426: ['025900', '053030', '060250', '074600'],
 20210427: ['096240', '213420', '237690'],
 20210428: ['063170', '096240', '213420', '237880'],
 20210429: ['084110', '237880', '950220'],
 20210430: ['096240', '237880'],
 20210503: ['036930'],
 20210504: ['078600', '237690', '237880', '319660'],
 20210506: ['145020', '194480', '240810'],
 20210507: ['145020', '194480', '243070', '297090', '319660'],
 20210510: ['000250', '091990', '145020', '240810'],
 20210511: ['000250'],
 20210512: ['000250', '151860', '194700', '263750', '267980', '306040'],
 20210513: ['096530', '194700', '215000', '263750', '267980'],
 20210514: ['041830', '194700', '200130', '215000'],
 20210517: ['041830', '056190', '080160', '144510', '145020', '200130'],
 20210518: ['034230', '089030', '200130'],
 20210520: ['034230',
  '036490',
  '039030',
  '056190',
  '066970',
  '096530',
  '200130'],
 20210521: ['039030', '056190', '200130'],
 20210524: ['056190', '078340', '213420'],
 20210525: ['112040', '213420', '214450'],
 20210526: ['034230',
  '036930',
  '078340',
  '084650',
  '214450',
  '272290',
  '352480'],
 20210527: ['034230',
  '036930',
  '048260',
  '084650',
  '196170',
  '214150',
  '352480'],
 20210528: ['036930', '084650', '144510', '196170', '247540', '383310'],
 20210531: ['051500', '122870', '144510', '247540'],
 20210601: ['352480'],
 20210602: ['080160', '213420', '222040'],
 20210603: ['090460', '213420', '272290', '278280', '357780'],
 20210604: ['074600', '106240', '272290', '278280', '357780'],
 20210607: ['015750', '247540'],
 20210608: ['035900', '067000', '196170', '213420', '243840'],
 20210609: ['035900', '067000', '213420', '272290', '278280'],
 20210610: ['048260', '068760', '214150', '272290'],
 20210611: ['035760', '068760', '091990', '196170', '214150', '272290'],
 20210614: ['035760',
  '035900',
  '041510',
  '066970',
  '067000',
  '196170',
  '214150'],
 20210615: ['035760',
  '035900',
  '096530',
  '196170',
  '214150',
  '243840',
  '263750'],
 20210616: ['064760', '089600', '263750', '293490'],
 20210617: ['039560', '068760', '214150', '287410'],
 20210618: ['035900', '060250', '064760', '122870', '214150', '272290'],
 20210621: ['035760',
  '060250',
  '065350',
  '096530',
  '122870',
  '141080',
  '265520',
  '272290',
  '278280'],
 20210622: ['035760', '035900', '108320', '145020', '265520', '278280'],
 20210623: ['039030',
  '060250',
  '065350',
  '104480',
  '108320',
  '141080',
  '278280'],
 20210624: ['039030',
  '060250',
  '065350',
  '068760',
  '090460',
  '104480',
  '108320',
  '122870'],
 20210625: ['036930',
  '039030',
  '091990',
  '101490',
  '104480',
  '145020',
  '196170'],
 20210628: ['015750', '036490', '090460', '104480', '126700', '196170'],
 20210629: ['145020', '196170', '214450', '237690', '293490', '317330'],
 20210630: ['039200', '126700', '222800'],
 20210701: ['025900', '035760', '090460', '110790', '222800', '226950'],
 20210702: ['036490', '064550', '090460', '222800', '226950', '235980'],
 20210705: ['039030',
  '064550',
  '086900',
  '131970',
  '226950',
  '235980',
  '247540'],
 20210706: ['063170', '064550', '141080', '214150'],
 20210707: ['144510', '196170', '214150'],
 20210708: ['064550', '066970', '272290'],
 20210709: ['039030', '064550', '263050', '263750', '272290'],
 20210712: ['196170'],
 20210713: ['025900', '060250', '066970', '196170'],
 20210714: ['023160', '063170', '067000', '100090'],
 20210715: ['086900', '090460', '101490', '131970', '214450', '230360'],
 20210716: ['086900', '090460', '108320', '122870', '214450'],
 20210719: ['048260', '090460', '214450'],
 20210720: ['031390', '088800', '230360', '241840'],
 20210721: ['088800', '214450', '230360', '237690', '241840', '293780'],
 20210722: ['036200',
  '036830',
  '064290',
  '101160',
  '131970',
  '160550',
  '237690',
  '293780'],
 20210723: ['036200', '036830', '064290', '214450', '235980', '298540'],
 20210726: ['036200', '048260', '064290', '214450', '263750'],
 20210727: ['030190', '036200', '074600', '214450', '319660'],
 20210728: ['005290', '319660'],
 20210729: ['067160', '074600', '088800', '101160'],
 20210730: ['000250', '096240', '194700', '317330'],
 20210802: ['000250', '214450', '278280'],
 20210803: ['090460', '144510', '213420', '294570'],
 20210804: ['084650', '144510'],
 20210805: ['084370', '084650', '294570'],
 20210806: ['035900', '196170', '213420', '222800', '272290', '356860'],
 20210809: ['086520', '272290', '294570'],
 20210810: ['068240'],
 20210811: ['025900', '035900', '122870'],
 20210812: ['035900', '214450', '222800'],
 20210813: ['036890', '131970', '222800', '228670', '278280'],
 20210817: ['039200', '131970', '228670', '237690'],
 20210818: ['039200', '095340', '100090', '228670', '237690'],
 20210819: ['214450', '222800'],
 20210820: ['039030', '089980', '214450', '222800'],
 20210823: ['039030', '131970', '214450'],
 20210824: ['035900', '039030', '089980', '214450'],
 20210825: ['039030', '039200', '214450'],
 20210826: ['039030', '039200', '060720', '106240', '196170', '214450'],
 20210827: ['039030', '091990', '122870', '214450', '241840']}

In [31]:
close_price_df = pd.read_csv("close_price_20210104_20210827.csv", index_col=0)

close_price_df = pd.DataFrame(columns = stock_code_list, index = tradingdays[:-1])

close_price_df

def parse_date(str_timestamp):
    return int(str_timestamp[:4]+str_timestamp[5:7]+str_timestamp[8:10])

for idx, stock_code in enumerate(stock_code_list):
    print(idx)
    tmp_df = fdr.DataReader(stock_code, target_year)['Close']
    tmp_df.index = [parse_date(x) for x in tmp_df.index.astype(str)]
    close_price_df[stock_code].loc[tmp_df.index[:-1]] = tmp_df.loc[tmp_df.index[:-1]]

In [32]:
close_price_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,235,623,314,951,569,1970,1430,81800,9050,2090,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,235,622,314,951,573,2010,1430,78700,9100,2080,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,234,617,314,951,587,1975,1435,79200,8990,2105,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,234,619,316,951,600,1970,1420,78000,9100,2100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,227,624,316,951,584,1930,1410,75600,8920,2065,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,182,544,320,951,697,1690,1365,59200,13400,2800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210824,180,550,323,951,711,1725,1390,59200,14450,2885,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210825,185,552,326,951,709,1730,1390,61500,14400,2975,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210826,186,553,335,951,731,1755,1400,55400,14250,3015,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210827,184,553,333,951,720,1750,1415,54900,14950,2915,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

close_price_df.to_csv('close_price_20210104_20210827.csv', index = True)

In [33]:
return_df = ((close_price_df - close_price_df.shift(1))/close_price_df.shift(1))*100

In [34]:
return_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,0.000000,-0.160514,0.000000,0.0,0.702988,2.030457,0.000000,-3.789731,0.552486,-0.478469,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,-0.425532,-0.803859,0.000000,0.0,2.443281,-1.741294,0.349650,0.635324,-1.208791,1.201923,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,0.000000,0.324149,0.636943,0.0,2.214651,-0.253165,-1.045296,-1.515152,1.223582,-0.237530,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,-2.991453,0.807754,0.000000,0.0,-2.666667,-2.030457,-0.704225,-3.076923,-1.978022,-1.666667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,9.638554,4.615385,2.564103,0.0,2.650957,2.114804,5.405405,5.525847,3.474903,-1.060071,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210824,-1.098901,1.102941,0.937500,0.0,2.008608,2.071006,1.831502,0.000000,7.835821,3.035714,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210825,2.777778,0.363636,0.928793,0.0,-0.281294,0.289855,0.000000,3.885135,-0.346021,3.119584,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210826,0.540541,0.181159,2.760736,0.0,3.102962,1.445087,0.719424,-9.918699,-1.041667,1.344538,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210827,-1.075269,0.000000,-0.597015,0.0,-1.504788,-0.284900,1.071429,-0.902527,4.912281,-3.316750,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
tradingday_return_dict = {}
for day in tradingdays[3:-1]:
    tradingday_return_dict[day]=[]
    daily_institution_buy_3dr_df = institution_buy_3dr_df.loc[day:day]
    daily_pension_buy_3dr_df = pension_buy_3dr_df.loc[day:day]
    institution_sorted_amount = sorted(daily_institution_buy_3dr_df.values.tolist()[0], reverse=True)
    institution_topten_amount = institution_sorted_amount[5:20]
    pension_sorted_amount = sorted(daily_pension_buy_3dr_df.values.tolist()[0], reverse=True)
    pension_topten_amount = pension_sorted_amount[5:20]
    for stock_code in stock_code_list:
        daily_return_df = return_df.loc[day:day]
        if daily_return_df[stock_code].values[0] > 0:
            continue
        if (daily_institution_buy_3dr_df[stock_code].values[0] in institution_topten_amount) and (daily_pension_buy_3dr_df[stock_code].values[0] in pension_topten_amount):
            tradingday_return_dict[day].append(stock_code)

In [90]:
tradingday_return_dict

{20210107: ['215200'],
 20210108: [],
 20210111: ['145020'],
 20210112: [],
 20210113: ['061970'],
 20210114: ['160550'],
 20210115: ['041510', '080160', '095340', '145020', '306040'],
 20210118: ['166090'],
 20210119: ['080160', '095340'],
 20210120: ['068760'],
 20210121: ['141080'],
 20210122: ['319660'],
 20210125: ['253450'],
 20210126: ['034230'],
 20210127: ['080160'],
 20210128: ['017890', '066970', '214150', '226950'],
 20210129: ['213420', '241840'],
 20210201: ['145020'],
 20210202: ['068760', '214450'],
 20210203: ['068760', '214450'],
 20210204: ['122870', '160550'],
 20210205: ['144510'],
 20210208: ['052710', '144510', '213420'],
 20210209: ['035080', '089980'],
 20210210: [],
 20210215: [],
 20210216: [],
 20210217: [],
 20210218: ['078150', '265520', '321820'],
 20210219: ['138610'],
 20210222: [],
 20210223: ['194700'],
 20210224: ['089600', '112040', '200130'],
 20210225: [],
 20210226: ['084370', '101160', '141080', '144510', '213420'],
 20210302: ['213420'],
 20210303: ['144510'],
 20210304: ['086900', '141080'],
 20210305: [],
 20210308: ['034230', '054780', '086900'],
 20210309: ['095610'],
 20210310: ['216050'],
 20210311: ['297090', '357780'],
 20210312: ['323990'],
 20210315: ['100090', '215000', '216050', '323990'],
 20210316: [],
 20210317: ['058470'],
 20210318: ['091990', '240810'],
 20210319: ['237690', '241840'],
 20210322: [],
 20210323: ['039030', '290650'],
 20210324: [],
 20210325: ['039030', '084370', '200130', '235980'],
 20210326: ['039030', '084370'],
 20210329: ['067160', '141080', '240810'],
 20210330: ['099320', '178320', '321820'],
 20210331: ['054780', '178320', '215200'],
 20210401: ['253450', '272290', '321820'],
 20210402: ['060150'],
 20210405: [],
 20210406: ['036200', '247540'],
 20210407: ['340570'],
 20210408: ['036200', '036890', '064290', '272290'],
 20210409: ['036200', '241840'],
 20210412: ['115960', '319660'],
 20210413: ['141080', '299030', '319660', '334970'],
 20210414: ['095700', '096530', '145020'],
 20210415: ['036490', '060250'],
 20210416: ['178320', '278280'],
 20210419: ['060250', '253450'],
 20210420: ['084370', '141080', '247540'],
 20210421: ['005290', '039200', '278280', '357780'],
 20210422: ['039200', '095610', '226950'],
 20210423: ['145020'],
 20210426: ['053030', '060250'],
 20210427: ['213420', '237690'],
 20210428: ['063170', '096240', '213420'],
 20210429: ['237880', '950220'],
 20210430: [],
 20210503: ['036930'],
 20210504: ['078600', '237690', '237880', '319660'],
 20210506: ['145020'],
 20210507: ['243070', '319660'],
 20210510: [],
 20210511: ['000250'],
 20210512: ['263750', '306040'],
 20210513: ['096530', '215000', '267980'],
 20210514: [],
 20210517: ['145020', '200130'],
 20210518: [],
 20210520: ['096530'],
 20210521: ['039030', '056190', '200130'],
 20210524: ['056190', '078340', '213420'],
 20210525: [],
 20210526: ['214450', '352480'],
 20210527: ['196170', '352480'],
 20210528: ['036930', '144510', '383310'],
 20210531: ['144510', '247540'],
 20210601: ['352480'],
 20210602: [],
 20210603: ['357780'],
 20210604: ['278280', '357780'],
 20210607: [],
 20210608: [],
 20210609: ['035900'],
 20210610: [],
 20210611: ['272290'],
 20210614: ['035760', '041510', '067000'],
 20210615: ['035760', '096530', '196170'],
 20210616: ['263750', '293490'],
 20210617: [],
 20210618: ['064760'],
 20210621: ['035760', '065350', '122870', '272290'],
 20210622: ['035900', '145020', '278280'],
 20210623: ['108320', '141080'],
 20210624: ['060250', '104480', '108320', '122870'],
 20210625: ['036930', '039030', '091990', '145020'],
 20210628: ['015750', '090460', '126700', '196170'],
 20210629: ['196170', '214450', '317330'],
 20210630: ['126700'],
 20210701: ['025900', '110790'],
 20210702: ['090460', '222800', '235980'],
 20210705: [],
 20210706: ['141080', '214150'],
 20210707: ['196170'],
 20210708: ['066970'],
 20210709: ['039030', '064550', '263050', '272290'],
 20210712: ['196170'],
 20210713: ['196170'],
 20210714: ['067000'],
 20210715: ['131970', '230360'],
 20210716: ['086900', '090460', '108320', '214450'],
 20210719: ['048260', '090460', '214450'],
 20210720: ['031390', '088800', '230360'],
 20210721: ['088800', '230360', '237690'],
 20210722: ['160550', '237690'],
 20210723: ['064290', '235980'],
 20210726: ['036200', '064290', '214450', '263750'],
 20210727: ['319660'],
 20210728: ['319660'],
 20210729: ['067160', '101160'],
 20210730: ['096240', '194700', '317330'],
 20210802: ['278280'],
 20210803: ['294570'],
 20210804: ['084650'],
 20210805: ['084370'],
 20210806: ['356860'],
 20210809: [],
 20210810: ['068240'],
 20210811: ['025900', '035900', '122870'],
 20210812: [],
 20210813: ['131970', '222800', '228670', '278280'],
 20210817: ['039200', '131970', '228670'],
 20210818: ['100090', '237690'],
 20210819: ['214450', '222800'],
 20210820: ['039030', '214450'],
 20210823: ['131970'],
 20210824: [],
 20210825: ['039200', '214450'],
 20210826: ['039030', '039200', '196170'],
 20210827: ['122870', '214450', '241840']}

In [91]:
# 단순히 당일 오르고 내림을 계산해보자
up_cnt = 0
down_cnt = 0
for tradingday in tradingday_return_dict.keys():
    daily_top_amount_stock_code = tradingday_return_dict[tradingday]
    for stock_code in daily_top_amount_stock_code:
        daily_stock_return = return_df[stock_code][tradingday]
        if np.isnan(daily_stock_return):
            continue
        elif daily_stock_return > 0:
            up_cnt += 1
        elif daily_stock_return < 0:
            down_cnt += 1
        else:
            continue

In [92]:
print(up_cnt)
print(down_cnt)

0
235

In [121]:
# 단순히 다음날 오르고 내림을 계산해보자
up_cnt = 0
down_cnt = 0
for tradingday in tradingday_return_dict.keys():
    daily_top_amount_stock_code = tradingday_return_dict[tradingday]
    for stock_code in daily_top_amount_stock_code:
        tomorrow_index = tradingdays.index(tradingday)+3
        if tomorrow_index >=len(tradingdays)-1:
            continue
        daily_stock_return = return_df[stock_code][tradingdays[tomorrow_index]]
        if np.isnan(daily_stock_return):
            continue
        elif daily_stock_return > 0:
            up_cnt += 1
        elif daily_stock_return < 0:
            down_cnt += 1
        else:
            continue

In [122]:
print(up_cnt)

129

In [123]:
print(down_cnt)

113

In [105]:
tradingday_dict.keys()

dict_keys([20210111, 20210112, 20210113, 20210114, 20210115, 20210118, 20210119, 20210120, 20210121, 20210122, 20210125, 20210126, 20210127, 20210128, 20210129, 20210201, 20210202, 20210203, 20210204, 20210205, 20210208, 20210209, 20210210, 20210215, 20210216, 20210217, 20210218, 20210219, 20210222, 20210223, 20210224, 20210225, 20210226, 20210302, 20210303, 20210304, 20210305, 20210308, 20210309, 20210310, 20210311, 20210312, 20210315, 20210316, 20210317, 20210318, 20210319, 20210322, 20210323, 20210324, 20210325, 20210326, 20210329, 20210330, 20210331, 20210401, 20210402, 20210405, 20210406, 20210407, 20210408, 20210409, 20210412, 20210413, 20210414, 20210415, 20210416, 20210419, 20210420, 20210421, 20210422, 20210423, 20210426, 20210427, 20210428, 20210429, 20210430, 20210503, 20210504, 20210506, 20210507, 20210510, 20210511, 20210512, 20210513, 20210514, 20210517, 20210518, 20210520, 20210521, 20210524, 20210525, 20210526, 20210527, 20210528, 20210531, 20210601, 20210602, 20210603, 20210604, 20210607, 20210608, 20210609, 20210610, 20210611, 20210614, 20210615, 20210616, 20210617, 20210618, 20210621, 20210622, 20210623, 20210624, 20210625, 20210628, 20210629, 20210630, 20210701, 20210702, 20210705, 20210706, 20210707, 20210708, 20210709, 20210712, 20210713, 20210714, 20210715, 20210716, 20210719, 20210720, 20210721, 20210722, 20210723, 20210726, 20210727, 20210728, 20210729, 20210730, 20210802, 20210803, 20210804, 20210805, 20210806, 20210809, 20210810, 20210811, 20210812, 20210813, 20210817, 20210818, 20210819, 20210820, 20210823, 20210824, 20210825, 20210826, 20210827])

In [101]:
close_price_df['900110'][20210104]

235

In [22]:
weekly_top_buy_df = pd.read_csv('weekly_top_buy_list.csv', index_col=0)

In [23]:
weekly_top_buy_df

,293490,141080,028300,308080,068760,106240,039030,035900,214450,222800,...,092190,144510,016250,290720,029960,192440,023410,137400,222080,253590
buy_pricevolume,12987,5861,5717,5610,5301,3907,3829,3677,2658,2141,...,148,141,140,135,124,119,119,117,109,107

In [28]:
year_daily_df = year_daily_df[weekly_top_buy_df.columns]

In [29]:
year_daily_df

,293490,141080,028300,308080,068760,106240,039030,035900,214450,222800,...,092190,144510,016250,290720,029960,192440,023410,137400,222080,253590
20210104,-6,1758,10,0,-150,0,-938,-188,0,0,...,0,2154,0,0,0,-15,0,0,0,0
20210105,0,-36,-34,0,-328,0,-37,-745,-12,-520,...,0,135,0,0,-8,-521,-2,0,0,0
20210106,-1,2342,-140,0,-147,0,-48,-339,-1,751,...,963,197,0,0,-27,-9,-3,0,0,0
20210107,-13,301,-384,0,-243,-283,484,-1333,-47,-228,...,-1096,-161,0,-2,-75,-536,-2,3,3,0
20210108,0,-745,21,0,-3,0,724,-193,-885,-151,...,0,43,0,-1,0,-25,0,-3,-3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,993,468,161,0,1121,182,465,751,1246,-72,...,-132,112,0,160,-2,-2,-3,-6,117,0
20210824,-34,2859,-52,0,196,0,820,774,-7,592,...,-3,70,23,59,-2,-2,-3,-6,116,0
20210825,2036,953,5292,2380,1291,-699,688,1394,990,747,...,156,6,118,76,131,125,127,6,8,0
20210826,11547,1285,295,2417,922,2204,1008,1360,1478,-13,...,-5,2,0,0,-4,-4,-5,117,-15,0
20210827,-562,763,182,813,2892,2401,1313,150,196,816,...,0,63,0,0,0,0,0,0,0,107

In [54]:
yesterday_buy_v = year_daily_df.loc[20210827].values

In [33]:
yesterday_buy_v

array([ -562,   763,   182,   813,  2892,  2401,  1313,   150,   196,
         816,  -484,  2179,   245,  -475,   447,    89,    34,  1008,
         355,   543,   228,   263,     0,     0,   276,     0,   494,
         244,   403,   142,     0,   226,   881, -7487,   675,     0,
           0,   192,   374,    13,     0,   566,  -558,  -123,     0,
         494,     0,  -359,     0,    68,   243,   452,   450,     0,
           0,     0,     0,     0,   352,     0,   340,     0,    -7,
         182,   243,  -348,     0,     0,     0,     0,     0,     0,
         262,    98,     0,   103,     0,  -109,     0,     0,    64,
           0,     0,     0,     0,     0,     0,   153,   153,     0,
           0,    63,     0,     0,     0,     0,     0,     0,     0,
         107], dtype=int64)

In [34]:
weekly_top_buy_v = weekly_top_buy_df.values

In [35]:
weekly_top_buy_v

array([[12987,  5861,  5717,  5610,  5301,  3907,  3829,  3677,  2658,
         2141,  2122,  2107,  2032,  1996,  1782,  1749,  1731,  1722,
         1666,  1578,  1566,  1543,  1524,  1374,  1333,  1251,  1250,
         1223,  1194,  1162,   992,   982,   905,   889,   872,   838,
          822,   766,   751,   691,   640,   605,   550,   515,   497,
          494,   493,   487,   456,   456,   452,   452,   450,   403,
          395,   389,   367,   365,   352,   344,   340,   325,   318,
          313,   311,   303,   303,   302,   301,   289,   287,   270,
          262,   254,   246,   241,   238,   222,   215,   208,   204,
          186,   186,   177,   163,   162,   160,   153,   153,   151,
          148,   141,   140,   135,   124,   119,   119,   117,   109,
          107]], dtype=int64)

In [36]:
# 재료
# 1. 어제 하루 매수 데이터
# 2. 지난 4일 매수 데이터

In [ ]:
# 대상
# 1. 4일 누적보다 어제 하루가 더 큰 경우: 어제 하루로 양전한 것

In [51]:
target_df_1 = weekly_top_buy_df[np.array(list(weekly_top_buy_df.columns))[yesterday_buy_v >= weekly_top_buy_v[0]]]

In [58]:
target_df_1

,091990,293780,226950,068930,126340,330860,088390,281740,067990,253590
buy_pricevolume,2107,494,452,450,352,340,262,153,153,107

In [56]:
year_daily_df.loc[20210827:][target_df_1.columns]

,091990,293780,226950,068930,126340,330860,088390,281740,067990,253590
20210827,2179,494,452,450,352,340,262,153,153,107

In [ ]:
# 대상
# 2.

In [51]:
twomonth_df = df.tail(40)

In [22]:
lastweek_cum_df = df.rolling(5).sum()

In [23]:
lastweek_cum_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-978.0,0.0,0.0,...,780.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210823,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-709.0,0.0,0.0,...,-1355.0,0.0,0.0,13.0,0.0,0.0,0.0,1.0,0.0,0.0
20210824,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1065.0,0.0,0.0,...,-1355.0,-43.0,0.0,13.0,0.0,0.0,0.0,1.0,0.0,0.0
20210825,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1077.0,0.0,0.0,...,0.0,-92.0,0.0,42.0,0.0,0.0,0.0,1.0,0.0,0.0
20210826,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-1724.0,0.0,0.0,...,0.0,-92.0,0.0,-316.0,0.0,0.0,0.0,1.0,0.0,0.0
20210827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-2075.0,0.0,0.0,...,0.0,-92.0,0.0,-520.0,0.0,0.0,0.0,1.0,0.0,0.0

In [71]:
twomonth_cum_df.sort_values(by=20210824, axis=1, ascending=False)

,293490,237690,141080,086520,222800,131970,214450,263750,272290,278280,...,112040,034230,046890,319660,078340,240810,035760,253450,383310,036490
20210104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20210108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210818,30594.0,32490.0,23801.0,23831.0,21717.0,17175.0,17991.0,9008.0,17795.0,36432.0,...,-15595.0,-21598.0,-18104.0,-21331.0,-20772.0,-26986.0,-8537.0,-23063.0,-60006.0,-22800.0
20210819,32184.0,33176.0,23379.0,26328.0,22463.0,18449.0,18314.0,14164.0,16644.0,31750.0,...,-15647.0,-21408.0,-19007.0,-21820.0,-21871.0,-26326.0,-15712.0,-24118.0,-59832.0,-21551.0
20210820,38644.0,33689.0,24472.0,26282.0,22954.0,18994.0,18076.0,17246.0,15822.0,25057.0,...,-14152.0,-19469.0,-19028.0,-21577.0,-20807.0,-24113.0,-19528.0,-25060.0,-64502.0,-26229.0
20210823,39649.0,34231.0,24748.0,26437.0,22844.0,19028.0,19167.0,18169.0,15916.0,18780.0,...,-15117.0,-19454.0,-19220.0,-20863.0,-20696.0,-22925.0,-20797.0,-26073.0,-66369.0,-50999.0
20210824,40524.0,34218.0,26815.0,25722.0,24535.0,18803.0,18671.0,17853.0,15996.0,15852.0,...,-15404.0,-19118.0,-19587.0,-20560.0,-21957.0,-23240.0,-23988.0,-25994.0,-66127.0,-66661.0

In [55]:
tcd_m = twomonth_cum_df.values

In [58]:
recent_buy_v = tcd_m[-1] - tcd_m[-2]
recent_cum_v = tcd_m[-2]

In [61]:
minus_to_plus = np.bitwise_and(tcd_m[-1]>0, tcd_m[-2]<0)

In [65]:
for idx, stock_code in enumerate(stock_code_list):
    if minus_to_plus[idx]:
        print(stock_code)

376980

In [63]:
stock_code_list[minus_to_plus]

TypeError: only integer scalar arrays can be converted to a scalar index

In [ ]:
minus_to_plus = recent_buy

In [14]:
for si, stock_name in enumerate(stock_name_list):
    df[stock_name] = [price_volume_list[si]]

In [15]:
df

,카카오게임즈,펄어비스,에이치엘비,바이젠셀,JYP Ent.,파마리서치,레고켐바이오,알테오젠,KH바텍,셀트리온제약,...,GST,더네이쳐홀딩스,태광,연우,원익피앤이,아이컴포넌트,조이시티,인텔리안테크,녹십자랩셀,엔시스
buy_pricevolume,+13583,+8394,+5588,+4797,+2753,+2469,+2239,+2232,+2228,+2213,...,+39,+34,+32,+26,+24,+18,+16,+9,+9,+4

In [16]:
stock_name_list

['                                                                                        카카오게임즈',
 '                                                                                            펄어비스',
 '                                                                                          에이치엘비',
 '                                                                                            바이젠셀',
 '                                                                                            JYP Ent.',
 '                                                                                          파마리서치',
 '                                                                                        레고켐바이오',
 '                                                                                            알테오젠',
 '                                                                                              KH바텍',
 '                                                                                        셀트리온제약',
 '                                                                                        이오테크닉스',
 '                                                                                          삼강엠앤티',
 '                                                                                        파인테크닉스',
 '                                                                                              메지온',
 '                                                                                          현대바이오',
 '                                                                                    미래에셋벤처투자',
 '                                                                                                쿠콘',
 '                                                                                              유니셈',
 '                                                                                          에이스토리',
 '                                                                                  와이지엔터테인먼트',
 '                                                                                            모두투어',
 '                                                                                  에이치엘비생명과학',
 '                                                                                          헬릭스미스',
 '                                                                                              월덱스',
 '                                                                                      메가스터디교육',
 '                                                                                              테스나',
 '                                                                                      크리스에프앤씨',
 '                                                                                            서울옥션',
 '                                                                                                심텍',
 '                                                                                            다원시스',
 '                                                                                          차바이오텍',
 '                                                                                              제넥신',
 '                                                                                            메드팩토',
 '                                                                                      에이비엘바이오',
 '                                                                                            메디톡스',
 '                                                                                        대주전자재료',
 '                                                                                            코나아이',
 '                                                                                        상아프론테크',
 '                                                                                        덕산네오룩스',
 '                                                                                             원익QnC',
 '                                                                                          피에스케이',
 '                                                                                              코미팜',
 '                                                                                                레이',
 '                                                                                            아미코젠',
 '                                                                                        에스앤에스텍',
 '                                                                                            동화기업',
 '                                                                                              노터스',
 '                                                                                              휴온스',
 '                                                                                             CMG제약',
 '                                                                                          텔콘RF제약',
 '                                                                                        하이록코리아',
 '                                                                                          엘비세미콘',
 '                                                                                        케이피엠테크',
 '                                                                                            오스코텍',
 '                                                                                          인선이엔티',
 '                                                                                            네오위즈',
 '                                                                                              테크윙',
 '                                                                                          엠케이전자',
 '                                                                                      엔지켐생명과학',
 '                                                                                        티케이케미칼',
 '                                                                                            영풍정밀',
 '                                                                                      콜마비앤에이치',
 '                                                                                          오이솔루션',
 '                                                                                          에이스테크',
 '                                                                                                톱텍',
 '                                                                                      하나머티리얼즈',
 '                                                                                          원익홀딩스',
 '                                                                                              와이솔',
 '                                                                                          코리아센터',
 '                                                                                    크리스탈지노믹스',
 '                                                                                          삼표시멘트',
 '                                                                                            코웰패션',
 '                                                                                      서울바이오시스',
 '                                                                                            키이스트',
 '                                                                                    이베스트투자증권',
 '                                                                                            청담러닝',
 '                                                                                        바이오리더스',
 '                                                                                              코엔텍',
 '                                                                                              피엔티',
 '                                                                                            유진기업',
 '                                                                                        슈피겐코리아',
 '                                                                                       SGC이테크건설',
 '                                                                                                미코',
 '                                                                                          제이앤티씨',
 '                                                                                              위닉스',
 '                                                                                            푸드나무',
 '                                                                                          진성티이씨',
 '                                                                                        KG모빌리언스',
 '                                                                                            제이스텍',
 '                                                                                          현대이지웰',
 '                                                                                                 GST',
 '                                                                                      더네이쳐홀딩스',
 '                                                                                                태광',
 '                                                                                                연우',
 '                                                                                          원익피앤이',
 '                                                                                        아이컴포넌트',
 '                                                                                            조이시티',
 '                                                                                        인텔리안테크',
 '                                                                                          녹십자랩셀',
 '                                                                                              엔시스']

In [35]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [36]:
institution_df = pd.DataFrame(columns=stock_code_list, index=['institution_net'])

for idx, stock_code in enumerate(stock_code_list):
    institution_df[stock_code] = [stockwise_dict[stock_code][2]]

In [37]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [38]:
closeprice_shareoutstanding_df = pd.DataFrame(columns = stock_code_list, index = ['closeprice', 'shareoutstanding']) 
for idx, stock_code in enumerate(stock_code_list):
    stockwise_result_list = []
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterLastPrice(QString)", stock_code)))
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterListedStockCnt(QString)", stock_code)))
    closeprice_shareoutstanding_df[stock_code] = stockwise_result_list

In [39]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [40]:
pension_fund_df = pension_fund_df[stock_code_list]
institution_df = institution_df[stock_code_list]

In [41]:
pension_fund_df.to_csv("pension_fund_df.csv")
institution_df.to_csv("institution_df.csv")

In [42]:
pension_fund_df = pd.read_csv("pension_fund_df.csv", index_col=0)
institution_df = pd.read_csv("institution_df.csv", index_col=0)

In [43]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [44]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [45]:
closeprice_shareoutstanding_df.to_csv("closeprice_shareoutstanding_df.csv", index=True)

In [46]:
closeprice_shareoutstanding_df = pd.read_csv("closeprice_shareoutstanding_df.csv", index_col=0)

In [47]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [48]:
total_pension_fund_df= pd.concat([pension_fund_df, closeprice_shareoutstanding_df])

In [49]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [50]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [53]:
total_pension_fund_df.loc['pension_fund_net_mil']= total_pension_fund_df.loc['pension_fund_net']*1000000

In [55]:
total_pension_fund_df.loc['market_cap']= total_pension_fund_df.loc['closeprice']*total_pension_fund_df.loc['shareoutstanding']

In [56]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535
pension_fund_net_mil,0,0,0,0,0,0,0,-9479000000,0,0,...,-681000000,237000000,0,515000000,0,0,0,0,0,0
market_cap,26917594592,47280000000,61073034177,64073625000,51400025880,100980000000,71480407720,1311439161600,97143228000,73803721600,...,1022282085050,182784367200,489551575500,1023276904000,242733478400,77515806449,34206567159,98286585400,55893726720,109692162975

In [57]:
total_pension_fund_df.loc['pension_portion']=total_pension_fund_df.loc['pension_fund_net_mil']/total_pension_fund_df.loc['market_cap']

In [58]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+03,0.000000e+00,0.000000e+00,...,-6.810000e+02,2.370000e+02,0.000000e+00,5.150000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
closeprice,1.970000e+02,5.910000e+02,3.390000e+02,9.510000e+02,7.980000e+02,1.870000e+03,1.490000e+03,5.760000e+04,1.560000e+04,3.040000e+03,...,2.815000e+04,9.200000e+03,8.010000e+03,1.040000e+04,1.280000e+04,4.390000e+02,2.930000e+02,1.450000e+03,1.040000e+03,3.585000e+03
shareoutstanding,1.366375e+08,8.000000e+07,1.801564e+08,6.737500e+07,6.441106e+07,5.400000e+07,4.797343e+07,2.276804e+07,6.227130e+06,2.427754e+07,...,3.631553e+07,1.986787e+07,6.111755e+07,9.839201e+07,1.896355e+07,1.765736e+08,1.167460e+08,6.778385e+07,5.374397e+07,3.059754e+07
pension_fund_net_mil,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+09,0.000000e+00,0.000000e+00,...,-6.810000e+08,2.370000e+08,0.000000e+00,5.150000e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
market_cap,2.691759e+10,4.728000e+10,6.107303e+10,6.407362e+10,5.140003e+10,1.009800e+11,7.148041e+10,1.311439e+12,9.714323e+10,7.380372e+10,...,1.022282e+12,1.827844e+11,4.895516e+11,1.023277e+12,2.427335e+11,7.751581e+10,3.420657e+10,9.828659e+10,5.589373e+10,1.096922e+11
pension_portion,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.227937e-03,0.000000e+00,0.000000e+00,...,-6.661566e-04,1.296610e-03,0.000000e+00,5.032851e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [67]:
pension_portion_df = total_pension_fund_df.transpose()[['pension_portion']]

In [68]:
pension_portion_df

        pension_portion
900110              0.0
900270              0.0
900260              0.0
900290              0.0
900300              0.0
...                 ...
900280              0.0
900120              0.0
900250              0.0
900070              0.0
900100              0.0

[1509 rows x 1 columns]

In [70]:
rank_pension_portion_df= pension_portion_df.sort_values(by='pension_portion', ascending=False)

In [74]:
rank_stock_code_list = list(rank_pension_portion_df.index)

In [77]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [79]:
rank_pension_portion_df['stock_name']=rank_stock_name_list

In [83]:
rank_pension_portion_df.head(50)

        pension_portion stock_name
298540         0.024426    더네이쳐홀딩스
119610         0.023564       인터로조
317330         0.017879     덕산테코피아
014620         0.017516       성광벤드
023160         0.017092         태광
222800         0.015310         심텍
042000         0.014597       카페24
272290         0.014156    이녹스첨단소재
086520         0.012967       에코프로
064290         0.012260      인텍플러스
084650         0.011980      랩지노믹스
237690         0.011514       에스티팜
214450         0.010583      파마리서치
096240         0.010499       청담러닝
036200         0.010183        유니셈
278280         0.009854         천보
137950         0.009353     제이씨케미칼
110790         0.009243    크리스에프앤씨
131970         0.007926        테스나
101160         0.007782        월덱스
126340         0.007561        비나텍
270870         0.007510        뉴트리
294570         0.007109         쿠콘
131390         0.006929      원익피앤이
063170         0.006501       서울옥션
228670         0.006390         레이
051160         0.006048      지어소프트
287410         0.005927    제이시스메디칼
084370         0.005832       유진테크
121600         0.005811      나노신소재
160550         0.005570        NEW
131290         0.005425       티에스이
235980         0.005419       메드팩토
065350         0.005266     신성델타테크
051370         0.005144      인터플렉스
356860         0.004966        티엘비
088800         0.004760      에이스테크
064260         0.004675         다날
290670         0.004614     대보마그네틱
025900         0.004613       동화기업
318020         0.004439     포인트모바일
213420         0.004411     덕산네오룩스
194700         0.004405       노바렉스
079940         0.004352        가비아
036830         0.004283    솔브레인홀딩스
065680         0.003835     우주일렉트로
238200         0.003639        비피도
101490         0.003516     에스앤에스텍
222040         0.003487    코스맥스엔비티
079370         0.003476        제우스

In [84]:
pension_amount_df = total_pension_fund_df.transpose()[['pension_fund_net_mil']]

In [85]:
rank_pension_amount_df = pension_amount_df.sort_values(by='pension_fund_net_mil', ascending=False)

In [86]:
rank_stock_code_list = list(rank_pension_amount_df.index)

In [87]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [88]:
rank_pension_amount_df['stock_name']=rank_stock_name_list

In [89]:
rank_pension_amount_df.head(50)

        pension_fund_net_mil stock_name
086520          2.449200e+10       에코프로
237690          2.425100e+10       에스티팜
278280          2.325500e+10         천보
222800          1.499600e+10         심텍
263750          1.313900e+10       펄어비스
042000          1.226200e+10       카페24
066970          1.164500e+10       엘앤에프
272290          1.105200e+10    이녹스첨단소재
214450          1.014500e+10      파마리서치
317330          9.167000e+09     덕산테코피아
119610          8.292000e+09       인터로조
213420          7.435000e+09     덕산네오룩스
025900          7.417000e+09       동화기업
235980          7.046000e+09       메드팩토
131970          6.329000e+09        테스나
084370          6.235000e+09       유진테크
298540          5.933000e+09    더네이쳐홀딩스
023160          5.775000e+09         태광
035900          4.893000e+09   JYP Ent.
131290          4.753000e+09       티에스이
014620          4.699000e+09       성광벤드
110790          4.537000e+09    크리스에프앤씨
084650          4.513000e+09      랩지노믹스
294570          4.479000e+09         쿠콘
036200          4.434000e+09        유니셈
064290          3.930000e+09      인텍플러스
088800          3.621000e+09      에이스테크
287410          3.370000e+09    제이시스메디칼
067160          3.335000e+09     아프리카TV
122870          3.318000e+09  와이지엔터테인먼트
036830          3.295000e+09    솔브레인홀딩스
101160          3.225000e+09        월덱스
005290          2.904000e+09      동진쎄미켐
228670          2.810000e+09         레이
086900          2.762000e+09       메디톡스
065350          2.721000e+09     신성델타테크
131390          2.716000e+09      원익피앤이
101490          2.557000e+09     에스앤에스텍
096240          2.511000e+09       청담러닝
230360          2.458000e+09      에코마케팅
028300          2.431000e+09      에이치엘비
121600          2.402000e+09      나노신소재
051160          2.393000e+09      지어소프트
091990          2.326000e+09   셀트리온헬스케어
068240          2.275000e+09       다원시스
137950          2.239000e+09     제이씨케미칼
064260          2.211000e+09         다날
270870          2.197000e+09        뉴트리
063170          2.172000e+09       서울옥션
126340          2.065000e+09        비나텍

In [93]:
rank_50_list = list(rank_pension_amount_df['stock_name'].head(50).values)
common_50_list = [sn for sn in rank_50_list if sn in rank_pension_portion_df['stock_name'].head(50).values]

In [ ]:
uncommon_50_list = [sn for sn in rank_50_list if sn not in rank_pension_portion_df['stock_name'].head(50).values]

In [94]:
len(common_50_list)

39

In [95]:
common_50_list

['에코프로',
 '에스티팜',
 '천보',
 '심텍',
 '카페24',
 '이녹스첨단소재',
 '파마리서치',
 '덕산테코피아',
 '인터로조',
 '덕산네오룩스',
 '동화기업',
 '메드팩토',
 '테스나',
 '유진테크',
 '더네이쳐홀딩스',
 '태광',
 '티에스이',
 '성광벤드',
 '크리스에프앤씨',
 '랩지노믹스',
 '쿠콘',
 '유니셈',
 '인텍플러스',
 '에이스테크',
 '제이시스메디칼',
 '솔브레인홀딩스',
 '월덱스',
 '레이',
 '신성델타테크',
 '원익피앤이',
 '에스앤에스텍',
 '청담러닝',
 '나노신소재',
 '지어소프트',
 '제이씨케미칼',
 '다날',
 '뉴트리',
 '서울옥션',
 '비나텍']

* 하락중인 종목들 중 눈여겨볼만한 것들  
메드팩토  
성광벤드  
인텍플러스  
레이  
나노신소재  
제이씨케미칼  
다날  
서울옥션  
티엘비