In [1]:
# 거래일을 가져오는 과정

In [2]:
import FinanceDataReader as fdr
import pandas as pd
import numpy as np
import datetime

In [3]:
kospi_list_df = fdr.StockListing('KOSPI')

In [4]:
test_symbol_list = []
for i in range(5):
    test_symbol_list.append(kospi_list_df['Symbol'].values[i])

test_symbol_list

['095570', '006840', '152100', '295820', '253150']

In [5]:
full_date_df = fdr.DataReader(test_symbol_list[1], '2021')

In [6]:
full_date_df

             Open   High    Low  Close  Volume    Change
Date
2021-01-04  25900  25900  25200  25250   92861  0.003976
2021-01-05  25200  25200  24750  25050   88941 -0.007921
2021-01-06  25050  25550  24900  24900   66138 -0.005988
2021-01-07  24950  25250  24850  25200   94211  0.012048
2021-01-08  25200  25750  25000  25350  132698  0.005952
...           ...    ...    ...    ...     ...       ...
2021-08-17  27150  27150  25600  25600   49668 -0.060550
2021-08-18  25250  26150  25250  25850   17146  0.009766
2021-08-19  25500  25850  24450  24600   43667 -0.048356
2021-08-20  24750  25050  23500  24300   45807 -0.012195
2021-08-23  24250  25600  24050  24950   43484  0.026749

[160 rows x 6 columns]

In [7]:
raw_tradingdays = list(full_date_df.index.values)

In [8]:
tradingdays = [int(pd.to_datetime(td).strftime('%Y%m%d')) for td in raw_tradingdays]

In [9]:
import sys

In [10]:
from PyQt5.QtWidgets import *

In [11]:
app = QApplication(sys.argv)

In [12]:
from kiwoom.kiwoom import *

In [13]:
save_list = []

In [14]:
kiwoom = Kiwoom(save_list)

로그인에 성공하였습니다.

1. 현재 로그인 상태 확인
2. 사용자 정보 조회
3. 예수금 조회
4. 계좌 잔고 조회
5. 미체결 내역 조회
6. 종목 리스트 조회
7. 일별 투자자별 매수 매도 종목 조회
Q. 프로그램 종료
P. Kiwoom 객체를 보존한 채로 종료
=> p

In [15]:
etf_list = kiwoom.get_code_list_by_market('8')

In [16]:
kiwoom.get_cummulative_buy_or_sale_of_investor_wise('360750')

In [17]:
kiwoom.calculator_list

[['                   0', '                   0'],
 ['                   0', '            --176982'],
 ['                   0', '            --190971'],
 ['                   0', '            --587055'],
 ['                   0', '            --517193'],
 ['                   0', '            --266656'],
 ['                   0', '            --226617'],
 ['                   0', '            --118908'],
 ['                   0', '             --52731'],
 ['                   0', '            --116645'],
 ['                   0', '            --125223'],
 ['                   0', '            --339603'],
 ['                   0', '            --276612'],
 ['                   0', '            --380391'],
 ['                   0', '             --57380'],
 ['                   0', '            --200935'],
 ['                   0', '            --414221'],
 ['                   0', '             --75520'],
 ['                   0', '            --188949'],
 ['                   0', '            --124513']]

In [20]:
result_list = []
for idx, etf_code in enumerate(etf_list):
    print("getting data of " + str(etf_code) + "..." + str(idx+1) + '/' + str(len(etf_list)))
    kiwoom.calculator_list = []
    kiwoom.get_cummulative_buy_or_sale_of_investor_wise(etf_code)
    result_list.append([etf_code, kiwoom.calculator_list[1][1]])

getting data of 069500...1500
getting data of 069660...2500
getting data of 091160...3500
getting data of 091170...4500
getting data of 091180...5500
getting data of 091220...6500
getting data of 091230...7500
getting data of 098560...8500
getting data of 099140...9500
getting data of 100910...10500
getting data of 101280...11500
getting data of 102110...12500
getting data of 102780...13500
getting data of 102960...14500
getting data of 102970...15500
getting data of 104520...16500
getting data of 104530...17500
getting data of 105010...18500
getting data of 105190...19500
getting data of 105780...20500
getting data of 108450...21500
getting data of 108590...22500
getting data of 114100...23500
getting data of 114260...24500
getting data of 114460...25500
getting data of 114470...26500
getting data of 114800...27500
getting data of 114820...28500
getting data of 117460...29500
getting data of 117680...30500
getting data of 117690...31500
getting data of 117700...32500
getting data of 122090...33500
getting data of 122260...34500
getting data of 122630...35500
getting data of 123310...36500
getting data of 123320...37500
getting data of 130680...38500
getting data of 130730...39500
getting data of 131890...40500
getting data of 132030...41500
getting data of 133690...42500
getting data of 136340...43500
getting data of 137610...44500
getting data of 137930...45500
getting data of 138230...46500
getting data of 138520...47500
getting data of 138530...48500
getting data of 138540...49500
getting data of 138910...50500
getting data of 138920...51500
getting data of 139220...52500
getting data of 139230...53500
getting data of 139240...54500
getting data of 139250...55500
getting data of 139260...56500
getting data of 139270...57500
getting data of 139280...58500
getting data of 139290...59500
getting data of 139310...60500
getting data of 139320...61500
getting data of 139660...62500
getting data of 140570...63500
getting data of 140580...64500
getting data of 140700...65500
getting data of 140710...66500
getting data of 140950...67500
getting data of 143460...68500
getting data of 143850...69500
getting data of 143860...70500
getting data of 144600...71500
getting data of 145670...72500
getting data of 145850...73500
getting data of 147970...74500
getting data of 148020...75500
getting data of 148070...76500
getting data of 150460...77500
getting data of 152100...78500
getting data of 152380...79500
getting data of 152500...80500
getting data of 152870...81500
getting data of 153130...82500
getting data of 153270...83500
getting data of 156080...84500
getting data of 157450...85500
getting data of 157490...86500
getting data of 157500...87500
getting data of 159800...88500
getting data of 160580...89500
getting data of 161510...90500
getting data of 166400...91500
getting data of 167860...92500
getting data of 168300...93500
getting data of 168580...94500
getting data of 169950...95500
getting data of 174350...96500
getting data of 174360...97500
getting data of 176710...98500
getting data of 176950...99500
getting data of 181480...100500
getting data of 182480...101500
getting data of 182490...102500
getting data of 183700...103500
getting data of 183710...104500
getting data of 185680...105500
getting data of 189400...106500
getting data of 190620...107500
getting data of 192090...108500
getting data of 192720...109500
getting data of 195920...110500
getting data of 195930...111500
getting data of 195970...112500
getting data of 195980...113500
getting data of 196030...114500
getting data of 196230...115500
getting data of 200030...116500
getting data of 200250...117500
getting data of 203780...118500
getting data of 204450...119500
getting data of 204480...120500
getting data of 205720...121500
getting data of 208470...122500
getting data of 210780...123500
getting data of 211260...124500
getting data of 211560...125500
getting data of 211900...126500
getting data of 213610...127500
getting data of 213630...128500
getting data of 214980...129500
getting data of 215620...130500
getting data of 217770...131500
getting data of 217780...132500
getting data of 217790...133500
getting data of 218420...134500
getting data of 219390...135500
getting data of 219480...136500
getting data of 219900...137500
getting data of 220130...138500
getting data of 223190...139500
getting data of 225030...140500
getting data of 225040...141500
getting data of 225050...142500
getting data of 225060...143500
getting data of 225130...144500
getting data of 225800...145500
getting data of 226380...146500
getting data of 226490...147500
getting data of 226980...148500
getting data of 227540...149500
getting data of 227550...150500
getting data of 227560...151500
getting data of 227570...152500
getting data of 227830...153500
getting data of 228790...154500
getting data of 228800...155500
getting data of 228810...156500
getting data of 228820...157500
getting data of 229200...158500
getting data of 229720...159500
getting data of 230480...160500
getting data of 232080...161500
getting data of 233160...162500
getting data of 233740...163500
getting data of 234310...164500
getting data of 236350...165500
getting data of 237350...166500
getting data of 237370...167500
getting data of 237440...168500
getting data of 238670...169500
getting data of 238720...170500
getting data of 239660...171500
getting data of 241180...172500
getting data of 241390...173500
getting data of 243880...174500
getting data of 243890...175500
getting data of 244580...176500
getting data of 244620...177500
getting data of 244660...178500
getting data of 244670...179500
getting data of 245340...180500
getting data of 245350...181500
getting data of 245360...182500
getting data of 245710...183500
getting data of 248260...184500
getting data of 248270...185500
getting data of 250730...186500
getting data of 250780...187500
getting data of 251340...188500
getting data of 251350...189500
getting data of 251590...190500
getting data of 251600...191500
getting data of 251890...192500
getting data of 252000...193500
getting data of 252400...194500
getting data of 252410...195500
getting data of 252420...196500
getting data of 252650...197500
getting data of 252670...198500
getting data of 252710...199500
getting data of 252720...200500
getting data of 252730...201500
getting data of 253150...202500
getting data of 253160...203500
getting data of 253230...204500
getting data of 253240...205500
getting data of 253250...206500
getting data of 253280...207500
getting data of 253290...208500
getting data of 256440...209500
getting data of 256450...210500
getting data of 256750...211500
getting data of 261060...212500
getting data of 261070...213500
getting data of 261110...214500
getting data of 261120...215500
getting data of 261140...216500
getting data of 261220...217500
getting data of 261240...218500
getting data of 261250...219500
getting data of 261260...220500
getting data of 261270...221500
getting data of 261920...222500
getting data of 265690...223500
getting data of 266160...224500
getting data of 266360...225500
getting data of 266370...226500
getting data of 266390...227500
getting data of 266410...228500
getting data of 266420...229500
getting data of 266550...230500
getting data of 267440...231500
getting data of 267450...232500
getting data of 267490...233500
getting data of 267500...234500
getting data of 267770...235500
getting data of 269370...236500
getting data of 269420...237500
getting data of 269530...238500
getting data of 269540...239500
getting data of 270800...240500
getting data of 270810...241500
getting data of 271050...242500
getting data of 271060...243500
getting data of 272220...244500
getting data of 272230...245500
getting data of 272560...246500
getting data of 272570...247500
getting data of 272580...248500
getting data of 272910...249500
getting data of 273130...250500
getting data of 273140...251500
getting data of 275280...252500
getting data of 275290...253500
getting data of 275300...254500
getting data of 275750...255500
getting data of 275980...256500
getting data of 276000...257500
getting data of 276650...258500
getting data of 276970...259500
getting data of 276990...260500

getting data of 277540...261500
getting data of 277630...262500
getting data of 277640...263500
getting data of 277650...264500
getting data of 278240...265500
getting data of 278420...266500
getting data of 278530...267500
getting data of 278540...268500
getting data of 278620...269500
getting data of 279530...270500
getting data of 279540...271500
getting data of 280320...272500
getting data of 280920...273500
getting data of 280930...274500
getting data of 280940...275500
getting data of 281990...276500
getting data of 282000...277500
getting data of 283580...278500
getting data of 284430...279500
getting data of 284980...280500
getting data of 284990...281500
getting data of 285000...282500
getting data of 285010...283500
getting data of 285020...284500
getting data of 285690...285500
getting data of 287180...286500
getting data of 287300...287500
getting data of 287310...288500
getting data of 287320...289500
getting data of 287330...290500
getting data of 289040...291500
getting data of 289250...292500
getting data of 289260...293500
getting data of 289480...294500
getting data of 289670...295500
getting data of 290080...296500
getting data of 290130...297500
getting data of 291130...298500
getting data of 291620...299500
getting data of 291630...300500
getting data of 291680...301500
getting data of 291890...302500
getting data of 292050...303500
getting data of 292150...304500
getting data of 292160...305500
getting data of 292190...306500
getting data of 292340...307500
getting data of 292500...308500
getting data of 292560...309500
getting data of 292730...310500
getting data of 292750...311500
getting data of 292770...312500
getting data of 293180...313500
getting data of 294400...314500
getting data of 295000...315500
getting data of 295020...316500
getting data of 295040...317500
getting data of 295820...318500
getting data of 298340...319500
getting data of 298770...320500
getting data of 299070...321500
getting data of 299080...322500
getting data of 300610...323500
getting data of 300640...324500
getting data of 300950...325500
getting data of 301400...326500
getting data of 301410...327500
getting data of 301440...328500
getting data of 302170...329500
getting data of 302180...330500
getting data of 302190...331500
getting data of 302450...332500
getting data of 304660...333500
getting data of 304670...334500
getting data of 304760...335500
getting data of 304770...336500
getting data of 304780...337500
getting data of 304940...338500
getting data of 305050...339500
getting data of 305080...340500
getting data of 305540...341500
getting data of 305720...342500
getting data of 306520...343500
getting data of 306530...344500
getting data of 306950...345500
getting data of 307010...346500
getting data of 307510...347500
getting data of 307520...348500
getting data of 308620...349500
getting data of 309210...350500
getting data of 309230...351500
getting data of 310080...352500
getting data of 310960...353500
getting data of 310970...354500
getting data of 314250...355500
getting data of 314700...356500
getting data of 315270...357500
getting data of 315480...358500
getting data of 315930...359500
getting data of 315960...360500
getting data of 316300...361500
getting data of 316670...362500
getting data of 319640...363500
getting data of 319870...364500
getting data of 321410...365500
getting data of 322120...366500
getting data of 322130...367500
getting data of 322150...368500
getting data of 322400...369500
getting data of 322410...370500
getting data of 325010...371500
getting data of 325020...372500
getting data of 326230...373500
getting data of 326240...374500
getting data of 328370...375500
getting data of 329200...376500
getting data of 329650...377500
getting data of 329660...378500
getting data of 329670...379500
getting data of 329750...380500
getting data of 331910...381500
getting data of 332500...382500
getting data of 332610...383500
getting data of 332620...384500
getting data of 332930...385500
getting data of 332940...386500
getting data of 333940...387500
getting data of 333950...388500
getting data of 333960...389500
getting data of 333970...390500
getting data of 333980...391500
getting data of 334690...392500
getting data of 334700...393500
getting data of 336160...394500
getting data of 337120...395500
getting data of 337140...396500
getting data of 337150...397500
getting data of 337160...398500
getting data of 341850...399500
getting data of 342140...400500
getting data of 342500...401500
getting data of 342600...402500
getting data of 342610...403500
getting data of 342620...404500
getting data of 346000...405500
getting data of 352540...406500
getting data of 352560...407500
getting data of 354240...408500
getting data of 354350...409500
getting data of 354500...410500
getting data of 356540...411500
getting data of 357870...412500
getting data of 359210...413500
getting data of 360140...414500
getting data of 360150...415500
getting data of 360200...416500
getting data of 360750...417500
getting data of 361580...418500
getting data of 361590...419500
getting data of 363510...420500
getting data of 363570...421500
getting data of 363580...422500
getting data of 364690...423500
getting data of 364960...424500
getting data of 364970...425500
getting data of 364980...426500
getting data of 364990...427500
getting data of 365000...428500
getting data of 365040...429500
getting data of 365780...430500
getting data of 367380...431500
getting data of 367740...432500
getting data of 367760...433500
getting data of 367770...434500
getting data of 368190...435500
getting data of 368200...436500
getting data of 368470...437500
getting data of 368590...438500
getting data of 368680...439500
getting data of 371130...440500
getting data of 371150...441500
getting data of 371160...442500
getting data of 371450...443500
getting data of 371460...444500
getting data of 371470...445500
getting data of 371870...446500
getting data of 372330...447500
getting data of 373490...448500
getting data of 373530...449500
getting data of 373790...450500
getting data of 375270...451500
getting data of 375760...452500
getting data of 375770...453500
getting data of 376250...454500
getting data of 376410...455500
getting data of 377990...456500
getting data of 379780...457500
getting data of 379790...458500
getting data of 379800...459500
getting data of 379810...460500
getting data of 380340...461500
getting data of 381170...462500
getting data of 381180...463500
getting data of 381560...464500
getting data of 381570...465500
getting data of 385510...466500
getting data of 385520...467500
getting data of 385540...468500
getting data of 385550...469500
getting data of 385560...470500
getting data of 385590...471500
getting data of 385600...472500
getting data of 385710...473500
getting data of 385720...474500
getting data of 387270...475500
getting data of 387280...476500
getting data of 388280...477500
getting data of 388420...478500
getting data of 390390...479500
getting data of 390400...480500
getting data of 390950...481500
getting data of 391590...482500
getting data of 391600...483500
getting data of 391670...484500
getting data of 391680...485500
getting data of 394340...486500
getting data of 394350...487500
getting data of 394660...488500
getting data of 394670...489500
getting data of 395150...490500
getting data of 395160...491500
getting data of 395170...492500
getting data of 395270...493500
getting data of 395280...494500
getting data of 395290...495500
getting data of 395750...496500
getting data of 395760...497500
getting data of 396500...498500
getting data of 396510...499500
getting data of 396520...500500

In [21]:
result_list

[['069500', '            --182003'],
 ['069660', '               +1503'],
 ['091160', '              --1806'],
 ['091170', '              +46814'],
 ['091180', '                +240'],
 ['091220', '             --26872'],
 ['091230', '                +888'],
 ['098560', '               +2235'],
 ['099140', '              --5956'],
 ['100910', '                --76'],
 ['101280', '                +111'],
 ['102110', '              --2461'],
 ['102780', '              +29729'],
 ['102960', '               +6613'],
 ['102970', '              +10842'],
 ['104520', '               --355'],
 ['104530', '              --6493'],
 ['105010', '               +3462'],
 ['105190', '               +7721'],
 ['105780', '               +4168'],
 ['108450', '               +2192'],
 ['108590', '                 --1'],
 ['114100', '                --25'],
 ['114260', '              --2266'],
 ['114460', '                  +6'],
 ['114470', '                +664'],
 ['114800', '            +2371745'],
 ['114820', '               --112'],
 ['117460', '                +231'],
 ['117680', '              --7936'],
 ['117690', '                 +15'],
 ['117700', '              --5826'],
 ['122090', '               --286'],
 ['122260', '                 +61'],
 ['122630', '           --1764627'],
 ['123310', '             +164278'],
 ['123320', '             --30135'],
 ['130680', '             --12669'],
 ['130730', '                +815'],
 ['131890', '                +120'],
 ['132030', '              +58332'],
 ['133690', '               +9228'],
 ['136340', '              --1081'],
 ['137610', '              +22097'],
 ['137930', '                   0'],
 ['138230', '               +3474'],
 ['138520', '                 +22'],
 ['138530', '               --987'],
 ['138540', '              --9362'],
 ['138910', '               +4155'],
 ['138920', '               +2446'],
 ['139220', '             --92740'],
 ['139230', '              --6957'],
 ['139240', '               +7078'],
 ['139250', '               +1993'],
 ['139260', '              +13452'],
 ['139270', '              --2389'],
 ['139280', '               +1983'],
 ['139290', '               --465'],
 ['139310', '               +6693'],
 ['139320', '               +7365'],
 ['139660', '                 +42'],
 ['140570', '                +145'],
 ['140580', '                 --3'],
 ['140700', '              +15949'],
 ['140710', '              +18576'],
 ['140950', '                 --1'],
 ['143460', '                --11'],
 ['143850', '             --17923'],
 ['143860', '               --389'],
 ['144600', '             +123063'],
 ['145670', '              --8786'],
 ['145850', '                   0'],
 ['147970', '               --177'],
 ['148020', '               +2919'],
 ['148070', '              --1188'],
 ['150460', '               +2924'],
 ['152100', '               --341'],
 ['152380', '                 +59'],
 ['152500', '             --47273'],
 ['152870', '                  +5'],
 ['153130', '               +4521'],
 ['153270', '                --55'],
 ['156080', '               --110'],
 ['157450', '                +694'],
 ['157490', '              +15078'],
 ['157500', '               +8009'],
 ['159800', '                   0'],
 ['160580', '               +4726'],
 ['161510', '             --37113'],
 ['166400', '                 --4'],
 ['167860', '                 --4'],
 ['168300', '               --128'],
 ['168580', '               +4240'],
 ['169950', '                +307'],
 ['174350', '                 +48'],
 ['174360', '               +3086'],
 ['176710', '                   0'],
 ['176950', '                +120'],
 ['181480', '                 +73'],
 ['182480', '              --1566'],
 ['182490', '                +161'],
 ['183700', '                   0'],
 ['183710', '                   0'],
 ['185680', '              --1071'],
 ['189400', '                --34'],
 ['190620', '                 --1'],
 ['192090', '               +1031'],
 ['192720', '                --91'],
 ['195920', '               --156'],
 ['195930', '               +6382'],
 ['195970', '               --980'],
 ['195980', '              --1301'],
 ['196030', '               --298'],
 ['196230', '               +8579'],
 ['200030', '               +1349'],
 ['200250', '              --8338'],
 ['203780', '              --7959'],
 ['204450', '            --352158'],
 ['204480', '              --5708'],
 ['205720', '               +9105'],
 ['208470', '                 +56'],
 ['210780', '               +1376'],
 ['211260', '                --42'],
 ['211560', '               --890'],
 ['211900', '               --435'],
 ['213610', '               +3714'],
 ['213630', '               --686'],
 ['214980', '               +2979'],
 ['215620', '               --116'],
 ['217770', '               --431'],
 ['217780', '              +16681'],
 ['217790', '                --33'],
 ['218420', '               --382'],
 ['219390', '             --10773'],
 ['219480', '              --9733'],
 ['219900', '               +6000'],
 ['220130', '               --146'],
 ['223190', '                 +51'],
 ['225030', '             --39432'],
 ['225040', '               +1948'],
 ['225050', '               +2770'],
 ['225060', '               --837'],
 ['225130', '               +7968'],
 ['225800', '               +2381'],
 ['226380', '              --1026'],
 ['226490', '              --7655'],
 ['226980', '               +2088'],
 ['227540', '               +3091'],
 ['227550', '                +232'],
 ['227560', '                +360'],
 ['227570', '               +2031'],
 ['227830', '               --862'],
 ['228790', '             --65271'],
 ['228800', '             --23872'],
 ['228810', '              --3896'],
 ['228820', '               --258'],
 ['229200', '            --548767'],
 ['229720', '                +385'],
 ['230480', '              --1827'],
 ['232080', '            --122701'],
 ['233160', '             --27864'],
 ['233740', '           --1560407'],
 ['234310', '                 +27'],
 ['236350', '               +4760'],
 ['237350', '                +579'],
 ['237370', '              --1205'],
 ['237440', '               --564'],
 ['238670', '                 --7'],
 ['238720', '                 +19'],
 ['239660', '              --4409'],
 ['241180', '               +2645'],
 ['241390', '                --82'],
 ['243880', '              --3194'],
 ['243890', '               +1157'],
 ['244580', '               +3718'],
 ['244620', '               --106'],
 ['244660', '                --32'],
 ['244670', '                +988'],
 ['245340', '              +13912'],
 ['245350', '               +3507'],
 ['245360', '             --40807'],
 ['245710', '              +71021'],
 ['248260', '                +226'],
 ['248270', '                +248'],
 ['250730', '              --2601'],
 ['250780', '             +225809'],
 ['251340', '            +6935122'],
 ['251350', '               +9923'],
 ['251590', '               --920'],
 ['251600', '                 +33'],
 ['251890', '                 --3'],
 ['252000', '                 +10'],
 ['252400', '              --5407'],
 ['252410', '             --12557'],
 ['252420', '              +80200'],
 ['252650', '               --165'],
 ['252670', '           +18369634'],
 ['252710', '            --496702'],
 ['252720', '                +266'],
 ['252730', '                +460'],
 ['253150', '               --627'],
 ['253160', '              +46792'],
 ['253230', '              +91445'],
 ['253240', '              --1154'],
 ['253250', '               --492'],
 ['253280', '                +172'],
 ['253290', '                 +16'],
 ['256440', '                +144'],
 ['256450', '                +656'],
 ['256750', '              +10953'],
 ['261060', '                +226'],
 ['261070', '               +1769'],
 ['261110', '               --463'],
 ['261120', '               --187'],
 ['261140', '                --51'],
 ['261220', '             --25430'],
 ['261240', '              --5229'],
 ['261250', '              +46899'],
 ['261260', '             --24002'],
 ['261270', '             --25083'],
 ['261920', '                +127'],
 ['265690', '               +1267'],
 ['266160', '              --1829'],
 ['266360', '              +10975'],
 ['266370', '              --6659'],
 ['266390', '               --121'],
 ['266410', '               +1352'],
 ['266420', '               +4215'],
 ['266550', '               --128'],
 ['267440', '                +256'],
 ['267450', '                +700'],
 ['267490', '                 +55'],
 ['267500', '              --5487'],
 ['267770', '              --4421'],
 ['269370', '                +216'],
 ['269420', '               +1330'],
 ['269530', '                 +22'],
 ['269540', '               +3449'],
 ['270800', '                --45'],
 ['270810', '              +11295'],
 ['271050', '              +13925'],
 ['271060', '               --321'],
 ['272220', '                 +19'],
 ['272230', '                +170'],
 ['272560', '                +385'],
 ['272570', '                  +7'],
 ['272580', '                 +28'],
 ['272910', '                 --1'],
 ['273130', '                 +70'],
 ['273140', '                  +1'],
 ['275280', '                 +50'],
 ['275290', '                  +1'],
 ['275300', '                --19'],
 ['275750', '               +3554'],
 ['275980', '              +30676'],
 ['276000', '                +685'],
 ['276650', '                +703'],
 ['276970', '                +491'],
 ['276990', '               +2641'],
 ['277540', '               --403'],
 ['277630', '                --21'],
 ['277640', '                --77'],
 ['277650', '                +345'],
 ['278240', '              --2353'],
 ['278420', '               --286'],
 ['278530', '              --7388'],
 ['278540', '                --84'],
 ['278620', '                 +10'],
 ['279530', '              --7385'],
 ['279540', '                --27'],
 ['280320', '                 +21'],
 ['280920', '                +596'],
 ['280930', '               +2634'],
 ['280940', '              --1680'],
 ['281990', '                +173'],
 ['282000', '                   0'],
 ['283580', '              +17421'],
 ['284430', '               +8239'],
 ['284980', '              --1092'],
 ['284990', '                +143'],
 ['285000', '               +1169'],
 ['285010', '               +2727'],
 ['285020', '              --1083'],
 ['285690', '                 +26'],
 ['287180', '               +4215'],
 ['287300', '               +1518'],
 ['287310', '               +2614'],
 ['287320', '               --162'],
 ['287330', '                --42'],
 ['289040', '              --1203'],
 ['289250', '                 +45'],
 ['289260', '                --20'],
 ['289480', '                 --5'],
 ['289670', '                 +58'],
 ['290080', '               --247'],
 ['290130', '                +675'],
 ['291130', '                +336'],
 ['291620', '               +1161'],
 ['291630', '              --1203'],
 ['291680', '               --346'],
 ['291890', '                --56'],
 ['292050', '                --47'],
 ['292150', '             --48475'],
 ['292160', '               --266'],
 ['292190', '               --938'],
 ['292340', '                --30'],
 ['292500', '                --11'],
 ['292560', '               +9189'],
 ['292730', '                 --2'],
 ['292750', '                --14'],
 ['292770', '                   0'],
 ['293180', '                +321'],
 ['294400', '               +1662'],
 ['295000', '                --34'],
 ['295020', '                   0'],
 ['295040', '                +189'],
 ['295820', '                +350'],
 ['298340', '                  +8'],
 ['298770', '               +6697'],
 ['299070', '                 --2'],
 ['299080', '                   0'],
 ['300610', '              --1270'],
 ['300640', '               --354'],
 ['300950', '               +4958'],
 ['301400', '                +168'],
 ['301410', '              --1357'],
 ['301440', '                --83'],
 ['302170', '                   0'],
 ['302180', '                  +3'],
 ['302190', '                 +50'],
 ['302450', '               --576'],
 ['304660', '              --1714'],
 ['304670', '                  +6'],
 ['304760', '                 --5'],
 ['304770', '                +998'],
 ['304780', '               --515'],
 ['304940', '              --3451'],
 ['305050', '                --21'],
 ['305080', '              --5212'],
 ['305540', '              +37030'],
 ['305720', '              +61685'],
 ['306520', '               +1205'],
 ['306530', '              --4429'],
 ['306950', '              --2110'],
 ['307010', '              --1520'],
 ['307510', '                --30'],
 ['307520', '               --321'],
 ['308620', '              --2339'],
 ['309210', '                +223'],
 ['309230', '               +1412'],
 ['310080', '               --625'],
 ['310960', '                 +81'],
 ['310970', '               --230'],
 ['314250', '             +260987'],
 ['314700', '               --509'],
 ['315270', '               --151'],
 ['315480', '               +1953'],
 ['315930', '                 +90'],
 ['315960', '               --901'],
 ['316300', '                +823'],
 ['316670', '               --133'],
 ['319640', '              +12937'],
 ['319870', '               --220'],
 ['321410', '                 +59'],
 ['322120', '                   0'],
 ['322130', '               +1497'],
 ['322150', '              --2056'],
 ['322400', '                +638'],
 ['322410', '               +1775'],
 ['325010', '                +111'],
 ['325020', '               --548'],
 ['326230', '                +176'],
 ['326240', '               --369'],
 ['328370', '               --629'],
 ['329200', '              +21374'],
 ['329650', '               --751'],
 ['329660', '                --69'],
 ['329670', '              --1014'],
 ['329750', '             --37032'],
 ['331910', '               --179'],
 ['332500', '               --113'],
 ['332610', '                 --4'],
 ['332620', '                --49'],
 ['332930', '                 --8'],
 ['332940', '                   0'],
 ['333940', '                 --5'],
 ['333950', '                   0'],
 ['333960', '              --1823'],
 ['333970', '                +310'],
 ['333980', '                 --4'],
 ['334690', '              --8680'],
 ['334700', '               +1662'],
 ['336160', '               +1081'],
 ['337120', '                --75'],
 ['337140', '                +284'],
 ['337150', '                  +6'],
 ['337160', '              --1670'],
 ['341850', '             --66954'],
 ['342140', '                --22'],
 ['342500', '                   0'],
 ['342600', '                   0'],
 ['342610', '                   0'],
 ['342620', '                +256'],
 ['346000', '                  +9'],
 ['352540', '                --27'],
 ['352560', '               +1873'],
 ['354240', '               --655'],
 ['354350', '             --29471'],
 ['354500', '               --435'],
 ['356540', '                   0'],
 ['357870', '             --10295'],
 ['359210', '                --31'],
 ['360140', '             --12249'],
 ['360150', '                  +5'],
 ['360200', '             --55680'],
 ['360750', '            --176982'],
 ['361580', '               --820'],
 ['361590', '                 +82'],
 ['363510', '                   0'],
 ['363570', '                 --1'],
 ['363580', '                +720'],
 ['364690', '               +2563'],
 ['364960', '              +29135'],
 ['364970', '              +15900'],
 ['364980', '             +110749'],
 ['364990', '               +7691'],
 ['365000', '               +6640'],
 ['365040', '              --7095'],
 ['365780', '                 --4'],
 ['367380', '              --7328'],
 ['367740', '              --9799'],
 ['367760', '              +45143'],
 ['367770', '             --32680'],
 ['368190', '               +2999'],
 ['368200', '                 +64'],
 ['368470', '                 --3'],
 ['368590', '               +4446'],
 ['368680', '              --8381'],
 ['371130', '               +7998'],
 ['371150', '             --17814'],
 ['371160', '            --233469'],
 ['371450', '              --4851'],
 ['371460', '            --616871'],
 ['371470', '               --197'],
 ['371870', '              --5758'],
 ['372330', '            --153002'],
 ['373490', '               +5867'],
 ['373530', '              --1742'],
 ['373790', '              --1050'],
 ['375270', '               +2341'],
 ['375760', '               --743'],
 ['375770', '              --2122'],
 ['376250', '                +582'],
 ['376410', '              --5952'],
 ['377990', '             --14790'],
 ['379780', '             --16080'],
 ['379790', '                +339'],
 ['379800', '             --47344'],
 ['379810', '               +2158'],
 ['380340', '               --521'],
 ['381170', '            --128356'],
 ['381180', '              +56465'],
 ['381560', '                +640'],
 ['381570', '               +2837'],
 ['385510', '               --608'],
 ['385520', '             --48892'],
 ['385540', '                   0'],
 ['385550', '                 +29'],
 ['385560', '               --108'],
 ['385590', '             --11838'],
 ['385600', '              +10079'],
 ['385710', '              --7722'],
 ['385720', '             --13653'],
 ['387270', '              --5441'],
 ['387280', '               +6916'],
 ['388280', '              --1680'],
 ['388420', '             --19183'],
 ['390390', '              +12908'],
 ['390400', '             --17070'],
 ['390950', '                   0'],
 ['391590', '               --726'],
 ['391600', '               +1903'],
 ['391670', '                --70'],
 ['391680', '               --246'],
 ['394340', '                  +1'],
 ['394350', '                +405'],
 ['394660', '            --104200'],
 ['394670', '            --858869'],
 ['395150', '             --13144'],
 ['395160', '              --8404'],
 ['395170', '             --17661'],
 ['395270', '                --48'],
 ['395280', '                 +72'],
 ['395290', '              --1611'],
 ['395750', '              --3855'],
 ['395760', '              --2183'],
 ['396500', '             --67743'],
 ['396510', '             --27299'],
 ['396520', '             --22604']]

In [19]:
etf_buy_list is None

True

In [16]:
len(kiwoom.calculator_list)

100

In [17]:
stock_name_list = []
price_volume_list = []

In [18]:
for ci in kiwoom.calculator_list:
    stock_name_list.append(ci[2])
    price_volume_list.append(ci[4])

In [19]:
import pandas as pd

In [20]:
df = pd.DataFrame(columns = stock_name_list, index = ['buy_pricevolume'])

In [21]:
for si, stock_name in enumerate(stock_name_list):
    df[stock_name] = [price_volume_list[si]]

In [22]:
df

,카카오게임즈,펄어비스,오스코텍,엘앤씨바이오,리노공업,셀트리온헬스케어,위메이드,휴젤,엘비세미콘,KH바텍,...,피엔티,데브시스터즈,바이넥스,SFA반도체,CMG제약,녹십자랩셀,주성엔지니어링,비에이치,국일제지,메디포스트
buy_pricevolume,+6476,+3669,+2462,+1663,+1438,+1358,+1270,+984,+959,+841,...,+3,+3,+3,+3,+3,+3,+3,+3,+2,+2

In [35]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [36]:
institution_df = pd.DataFrame(columns=stock_code_list, index=['institution_net'])

for idx, stock_code in enumerate(stock_code_list):
    institution_df[stock_code] = [stockwise_dict[stock_code][2]]

In [37]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [38]:
closeprice_shareoutstanding_df = pd.DataFrame(columns = stock_code_list, index = ['closeprice', 'shareoutstanding']) 
for idx, stock_code in enumerate(stock_code_list):
    stockwise_result_list = []
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterLastPrice(QString)", stock_code)))
    stockwise_result_list.append(int(kiwoom.dynamicCall("GetMasterListedStockCnt(QString)", stock_code)))
    closeprice_shareoutstanding_df[stock_code] = stockwise_result_list

In [39]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [40]:
pension_fund_df = pension_fund_df[stock_code_list]
institution_df = institution_df[stock_code_list]

In [41]:
pension_fund_df.to_csv("pension_fund_df.csv")
institution_df.to_csv("institution_df.csv")

In [42]:
pension_fund_df = pd.read_csv("pension_fund_df.csv", index_col=0)
institution_df = pd.read_csv("institution_df.csv", index_col=0)

In [43]:
pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0

In [44]:
institution_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
institution_net,0,0,0,0,-19,20,0,-6951,-26,0,...,-2695,3490,0,-2264,7,0,0,0,50,0

In [45]:
closeprice_shareoutstanding_df.to_csv("closeprice_shareoutstanding_df.csv", index=True)

In [46]:
closeprice_shareoutstanding_df = pd.read_csv("closeprice_shareoutstanding_df.csv", index_col=0)

In [47]:
closeprice_shareoutstanding_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [48]:
total_pension_fund_df= pd.concat([pension_fund_df, closeprice_shareoutstanding_df])

In [49]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [50]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535

In [53]:
total_pension_fund_df.loc['pension_fund_net_mil']= total_pension_fund_df.loc['pension_fund_net']*1000000

In [55]:
total_pension_fund_df.loc['market_cap']= total_pension_fund_df.loc['closeprice']*total_pension_fund_df.loc['shareoutstanding']

In [56]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0,0,0,0,0,0,0,-9479,0,0,...,-681,237,0,515,0,0,0,0,0,0
closeprice,197,591,339,951,798,1870,1490,57600,15600,3040,...,28150,9200,8010,10400,12800,439,293,1450,1040,3585
shareoutstanding,136637536,80000000,180156443,67375000,64411060,54000000,47973428,22768041,6227130,24277540,...,36315527,19867866,61117550,98392010,18963553,176573591,116745963,67783852,53743968,30597535
pension_fund_net_mil,0,0,0,0,0,0,0,-9479000000,0,0,...,-681000000,237000000,0,515000000,0,0,0,0,0,0
market_cap,26917594592,47280000000,61073034177,64073625000,51400025880,100980000000,71480407720,1311439161600,97143228000,73803721600,...,1022282085050,182784367200,489551575500,1023276904000,242733478400,77515806449,34206567159,98286585400,55893726720,109692162975

In [57]:
total_pension_fund_df.loc['pension_portion']=total_pension_fund_df.loc['pension_fund_net_mil']/total_pension_fund_df.loc['market_cap']

In [58]:
total_pension_fund_df

,900110,900270,900260,900290,900300,900310,900340,000250,000440,001000,...,950130,950140,950160,950220,950200,900280,900120,900250,900070,900100
pension_fund_net,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+03,0.000000e+00,0.000000e+00,...,-6.810000e+02,2.370000e+02,0.000000e+00,5.150000e+02,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
closeprice,1.970000e+02,5.910000e+02,3.390000e+02,9.510000e+02,7.980000e+02,1.870000e+03,1.490000e+03,5.760000e+04,1.560000e+04,3.040000e+03,...,2.815000e+04,9.200000e+03,8.010000e+03,1.040000e+04,1.280000e+04,4.390000e+02,2.930000e+02,1.450000e+03,1.040000e+03,3.585000e+03
shareoutstanding,1.366375e+08,8.000000e+07,1.801564e+08,6.737500e+07,6.441106e+07,5.400000e+07,4.797343e+07,2.276804e+07,6.227130e+06,2.427754e+07,...,3.631553e+07,1.986787e+07,6.111755e+07,9.839201e+07,1.896355e+07,1.765736e+08,1.167460e+08,6.778385e+07,5.374397e+07,3.059754e+07
pension_fund_net_mil,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-9.479000e+09,0.000000e+00,0.000000e+00,...,-6.810000e+08,2.370000e+08,0.000000e+00,5.150000e+08,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
market_cap,2.691759e+10,4.728000e+10,6.107303e+10,6.407362e+10,5.140003e+10,1.009800e+11,7.148041e+10,1.311439e+12,9.714323e+10,7.380372e+10,...,1.022282e+12,1.827844e+11,4.895516e+11,1.023277e+12,2.427335e+11,7.751581e+10,3.420657e+10,9.828659e+10,5.589373e+10,1.096922e+11
pension_portion,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,-7.227937e-03,0.000000e+00,0.000000e+00,...,-6.661566e-04,1.296610e-03,0.000000e+00,5.032851e-04,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00

In [67]:
pension_portion_df = total_pension_fund_df.transpose()[['pension_portion']]

In [68]:
pension_portion_df

        pension_portion
900110              0.0
900270              0.0
900260              0.0
900290              0.0
900300              0.0
...                 ...
900280              0.0
900120              0.0
900250              0.0
900070              0.0
900100              0.0

[1509 rows x 1 columns]

In [70]:
rank_pension_portion_df= pension_portion_df.sort_values(by='pension_portion', ascending=False)

In [74]:
rank_stock_code_list = list(rank_pension_portion_df.index)

In [77]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [79]:
rank_pension_portion_df['stock_name']=rank_stock_name_list

In [83]:
rank_pension_portion_df.head(50)

        pension_portion stock_name
298540         0.024426    더네이쳐홀딩스
119610         0.023564       인터로조
317330         0.017879     덕산테코피아
014620         0.017516       성광벤드
023160         0.017092         태광
222800         0.015310         심텍
042000         0.014597       카페24
272290         0.014156    이녹스첨단소재
086520         0.012967       에코프로
064290         0.012260      인텍플러스
084650         0.011980      랩지노믹스
237690         0.011514       에스티팜
214450         0.010583      파마리서치
096240         0.010499       청담러닝
036200         0.010183        유니셈
278280         0.009854         천보
137950         0.009353     제이씨케미칼
110790         0.009243    크리스에프앤씨
131970         0.007926        테스나
101160         0.007782        월덱스
126340         0.007561        비나텍
270870         0.007510        뉴트리
294570         0.007109         쿠콘
131390         0.006929      원익피앤이
063170         0.006501       서울옥션
228670         0.006390         레이
051160         0.006048      지어소프트
287410         0.005927    제이시스메디칼
084370         0.005832       유진테크
121600         0.005811      나노신소재
160550         0.005570        NEW
131290         0.005425       티에스이
235980         0.005419       메드팩토
065350         0.005266     신성델타테크
051370         0.005144      인터플렉스
356860         0.004966        티엘비
088800         0.004760      에이스테크
064260         0.004675         다날
290670         0.004614     대보마그네틱
025900         0.004613       동화기업
318020         0.004439     포인트모바일
213420         0.004411     덕산네오룩스
194700         0.004405       노바렉스
079940         0.004352        가비아
036830         0.004283    솔브레인홀딩스
065680         0.003835     우주일렉트로
238200         0.003639        비피도
101490         0.003516     에스앤에스텍
222040         0.003487    코스맥스엔비티
079370         0.003476        제우스

In [84]:
pension_amount_df = total_pension_fund_df.transpose()[['pension_fund_net_mil']]

In [85]:
rank_pension_amount_df = pension_amount_df.sort_values(by='pension_fund_net_mil', ascending=False)

In [86]:
rank_stock_code_list = list(rank_pension_amount_df.index)

In [87]:
rank_stock_name_list = [kiwoom.dynamicCall("GetMasterCodeName(QString)", code) for code in rank_stock_code_list]

In [88]:
rank_pension_amount_df['stock_name']=rank_stock_name_list

In [89]:
rank_pension_amount_df.head(50)

        pension_fund_net_mil stock_name
086520          2.449200e+10       에코프로
237690          2.425100e+10       에스티팜
278280          2.325500e+10         천보
222800          1.499600e+10         심텍
263750          1.313900e+10       펄어비스
042000          1.226200e+10       카페24
066970          1.164500e+10       엘앤에프
272290          1.105200e+10    이녹스첨단소재
214450          1.014500e+10      파마리서치
317330          9.167000e+09     덕산테코피아
119610          8.292000e+09       인터로조
213420          7.435000e+09     덕산네오룩스
025900          7.417000e+09       동화기업
235980          7.046000e+09       메드팩토
131970          6.329000e+09        테스나
084370          6.235000e+09       유진테크
298540          5.933000e+09    더네이쳐홀딩스
023160          5.775000e+09         태광
035900          4.893000e+09   JYP Ent.
131290          4.753000e+09       티에스이
014620          4.699000e+09       성광벤드
110790          4.537000e+09    크리스에프앤씨
084650          4.513000e+09      랩지노믹스
294570          4.479000e+09         쿠콘
036200          4.434000e+09        유니셈
064290          3.930000e+09      인텍플러스
088800          3.621000e+09      에이스테크
287410          3.370000e+09    제이시스메디칼
067160          3.335000e+09     아프리카TV
122870          3.318000e+09  와이지엔터테인먼트
036830          3.295000e+09    솔브레인홀딩스
101160          3.225000e+09        월덱스
005290          2.904000e+09      동진쎄미켐
228670          2.810000e+09         레이
086900          2.762000e+09       메디톡스
065350          2.721000e+09     신성델타테크
131390          2.716000e+09      원익피앤이
101490          2.557000e+09     에스앤에스텍
096240          2.511000e+09       청담러닝
230360          2.458000e+09      에코마케팅
028300          2.431000e+09      에이치엘비
121600          2.402000e+09      나노신소재
051160          2.393000e+09      지어소프트
091990          2.326000e+09   셀트리온헬스케어
068240          2.275000e+09       다원시스
137950          2.239000e+09     제이씨케미칼
064260          2.211000e+09         다날
270870          2.197000e+09        뉴트리
063170          2.172000e+09       서울옥션
126340          2.065000e+09        비나텍

In [93]:
rank_50_list = list(rank_pension_amount_df['stock_name'].head(50).values)
common_50_list = [sn for sn in rank_50_list if sn in rank_pension_portion_df['stock_name'].head(50).values]

In [ ]:
uncommon_50_list = [sn for sn in rank_50_list if sn not in rank_pension_portion_df['stock_name'].head(50).values]

In [94]:
len(common_50_list)

39

In [95]:
common_50_list

['에코프로',
 '에스티팜',
 '천보',
 '심텍',
 '카페24',
 '이녹스첨단소재',
 '파마리서치',
 '덕산테코피아',
 '인터로조',
 '덕산네오룩스',
 '동화기업',
 '메드팩토',
 '테스나',
 '유진테크',
 '더네이쳐홀딩스',
 '태광',
 '티에스이',
 '성광벤드',
 '크리스에프앤씨',
 '랩지노믹스',
 '쿠콘',
 '유니셈',
 '인텍플러스',
 '에이스테크',
 '제이시스메디칼',
 '솔브레인홀딩스',
 '월덱스',
 '레이',
 '신성델타테크',
 '원익피앤이',
 '에스앤에스텍',
 '청담러닝',
 '나노신소재',
 '지어소프트',
 '제이씨케미칼',
 '다날',
 '뉴트리',
 '서울옥션',
 '비나텍']

* 하락중인 종목들 중 눈여겨볼만한 것들  
메드팩토  
성광벤드  
인텍플러스  
레이  
나노신소재  
제이씨케미칼  
다날  
서울옥션  
티엘비